<div id="grid" class="jhw-panel swf-upload bui-grid-body-pic">
    <div class="bui-grid bui-simple-list bui-grid-width  bui-grid-strip bui-grid-hover bui-simple-list-hover">
        <div class="bui-grid-tbar">
            <div class="bui-bar" role="toolbar" id="bar2">
                <ul class="bui-bar bui-grid-button-bar" role="toolbar" id="bar4">
                    <li class="bui-bar-item bui-inline-block" aria-disabled="false" aria-pressed="false">
                        <input type="text" class="control-text search-query search-text">&nbsp;
                        <button type="button" class="button btn-search">搜索</button>
                    </li>
                    <li class="bui-bar-item-button bui-bar-item bui-inline-block bui-bar-item-button-hover bui-bar-item-hover"
                        aria-disabled="false" id="bar-item-button2" aria-pressed="false">
                        <button type="button" class="button button-info btn-pic-add"><i
                                class="icon-white icon-download-alt"></i>上传图片到当前目录
                        </button>
                    </li>
                    <li class="bui-bar-item-button bui-bar-item bui-inline-block" aria-disabled="false"
                        id="bar-item-button9" aria-pressed="false">
                        <a href="javascript:;" title="添加相册" class="btn-album-add">
                            <button type="button" class="button button-info"><i
                                    class="icon-white icon-folder-open"></i>新建相册
                            </button>
                        </a>
                    </li>
                    <li class=" bui-bar-item bui-bar-item-separator bui-inline-block" aria-disabled="false"
                        id="bar-item-separator1" role="separator"></li>
                    </li>
                    <!--<li class="bui-bar-item-button bui-bar-item bui-inline-block" aria-disabled="false"
                         id="bar-item-button1" aria-pressed="false">
                         <button type="button" class="button button-danger btn-batch-del"><i
                                 class="icon-white icon-trash"></i>批量删除
                         </button>
                     </li>-->
                    <!--  <li  class="bui-bar-item-button bui-bar-item bui-inline-block">
                          &lt;!&ndash;<div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div id="files" class="files"></div>&ndash;&gt;
                        <span id="spanSWFUploadButton"></span>
                        <ul id="showNewUploadFileContent"
                            class="showFilesContent startToUpload" style="position: relative;">
                        </ul>
                        <div id="uploadProcess"></div>
                    </li>-->

                </ul>
            </div>
        </div>
        <div class="bui-grid-body" >
            <div class="album_left">
            </div>
            <div class="album_right pic-container">

            </div>
        </div>
        <div id="pagination-container"></div>
    </div>

</div>

