<form name="form" class="form-horizontal ng-scope ng-pristine ng-valid" role="form" novalidate="">
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">原图尺寸：</label>

            <div class="controls">
                <button type="button" clipboard="" data-clipboard-text="{{CONST DOMAIN}}/{{serverPath}}"
                        class="button button-info">
                    <i class="icon-white  icon-hand-up"></i>复制链接
                </button>
                <button type="button" clipboard=""
                        data-clipboard-text="<img src='{{CONST DOMAIN}}/{{serverPath}}' alt='{{filename}}'>"
                        class="button button-info"><i class="icon-white  icon-hand-up"></i>复制代码
                </button>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"> 800*800 </label>

            <div class="controls">
                <input type="button" clipboard=""
                       data-clipboard-text="{{CONST DOMAIN}}/{{picUrl serverPath 3}}"
                       class="btn btn-blue btn-sm" value="复制链接">
                <input type="button" clipboard=""
                       data-clipboard-text="<img src='{{CONST DOMAIN}}/{{picUrl serverPath 3}}' alt='{{filename}}'>"
                       class="btn btn-blue btn-sm" value="复制代码">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"> 500*500 </label>

            <div class="controls">
                <input type="button" clipboard=""
                       data-clipboard-text="{{CONST DOMAIN}}/{{picUrl serverPath 7}}"
                       class="btn btn-blue btn-sm zeroclipboard-is-hover" value="复制链接">
                <input type="button" clipboard=""
                       data-clipboard-text="<img src='{{CONST DOMAIN}}/{{picUrl serverPath 7}}' alt='{{filename}}'>"
                       class="btn btn-blue btn-sm" value="复制代码">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"> 300*300 </label>

            <div class="controls">
                <input type="button" clipboard=""
                       data-clipboard-text="{{CONST DOMAIN}}/{{picUrl serverPath 4}}"
                       class="btn btn-blue btn-sm" value="复制链接">
                <input type="button" clipboard=""
                       data-clipboard-text="<img src='{{CONST DOMAIN}}/{{picUrl serverPath 4}}' alt='{{filename}}'>"
                       class="btn btn-blue btn-sm" value="复制代码">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"> 160*160 </label>

            <div class="controls">
                <input type="button" clipboard=""
                       data-clipboard-text="{{CONST DOMAIN}}/{{picUrl serverPath 5}}"
                       class="btn btn-blue btn-sm" value="复制链接">
                <input type="button" clipboard=""
                       data-clipboard-text="<img src='{{CONST DOMAIN}}/{{picUrl serverPath 5}}' alt='{{filename}}'>"
                       class="btn btn-blue btn-sm" value="复制代码">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">80*80</label>

            <div class="controls">
                <input type="button" clipboard=""
                       data-clipboard-text="{{CONST DOMAIN}}/{{picUrl serverPath 8}}"
                       class="btn btn-blue btn-sm" value="复制链接">
                <input type="button" clipboard=""
                       data-clipboard-text="<img src='{{CONST DOMAIN}}/{{picUrl serverPath 8}}' alt='{{filename}}'>"
                       class="btn btn-blue btn-sm" value="复制代码">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">40*40</label>

            <div class="controls">
                <input type="button" clipboard=""
                       data-clipboard-text="{{CONST DOMAIN}}/{{picUrl serverPath 6}}"
                       class="btn btn-blue btn-sm" value="复制链接">
                <input type="button" clipboard=""
                       data-clipboard-text="<img src='{{CONST DOMAIN}}/{{picUrl serverPath 6}}' alt='{{filename}}'>"
                       class="btn btn-blue btn-sm" value="复制代码">
            </div>
        </div>
    </div>
</form>