<div class="image toggle">
    <div class="base-msg">
        <div class="img-container"><img
                src="http://img04.taobaocdn.com/imgextra/i4/703222035/TB284aObXXXXXX8XpXXXXXXXXXX_!!703222035.jpg_160x160.jpg?t=1416400110000"
                alt=""></div>
        <div class="img-name" title="{{filename}}">{{filename}}</div>
        <div class="qout icon"></div>
        <ul class="handle clearfix">
            <li class="copy-pic"
                data-clipboard-text=""
                title="复制图片"><i class="icon icon-white icon-picture"></i></li>
            <li class="copy-link"
                data-clipboard-text=""
                title="复制链接"><i class="icon icon-white icon-download-alt"></i></li>
            <li class="delete"
                data-clipboard-text=""
                title="删除图片"><i class="icon icon-white icon-trash"></i></li>
        </ul>
    </div>
</div>