<div class="image toggle">
    <div class="base-msg">
        <div class="img-container"><img
                src="{{CONST 'PIC_URL'}}/{{picUrl serverPath 6}}?v={{uploadTime}}"
                alt=""></div>
        <div class="img-name" title="{{filename}}">{{filename}}</div>
        <div class="qout icon"></div>
        <!--<ul class="handle clearfix">
            <li class="copy-pic"
                data-clipboard-text="{{CONST 'DOMAIN'}}/{{serverPath}}"
                title="复制图片"><i class="icon icon-white icon-picture"></i></li>
            <li class="pic-replace"
                data-clipboard-text="{{CONST 'DOMAIN'}}/{{serverPath}}"
                title="图片替换"><i class="icon icon-white icon-random"></i></li>
            <li class="delete"
                data-clipboard-text=""
                title="删除图片"><i class="icon icon-white icon-trash"></i></li>
        </ul>-->
    </div>
</div>