<form id="J_Form" action="" class="form-horizontal ">
    <div id="panel" class="" style="padding:10px;">
        <div class="control-group">
            <label class="control-label">邮箱提醒：</label>
            <div class="controls">
                <label><input id="model-state" type="radio" name="state" value="01" {{#compare state '==='
                    '01'}}checked{{/compare}}>是</label>
                <label><input id="model2-state" type="radio" name="state" value="00" {{#compare state '==='
                    '00'}}checked{{/compare}}>否</label>
            </div>
        </div>
        <div>
            <div class="control-group">
                <label class="control-label">电子邮箱：</label>
                <div class="controls">
                    <input id="model-key" name="key" value="{{key}}" type="text" class="input-middle">
                </div>
            </div>
        </div>
    </div>
</form>