<td class="bui-grid-cell grid-td-checkbox">
    <div class="bui-grid-cell-inner">
        <div class="bui-grid-checkBox-container"><span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
        </div>
    </div>
</td>
<td class="x-grid-rownumber  bui-grid-cell grid-td-grid-hd1" data-column-id="grid-hd1" data-column-field="">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text " title="">{{plus dx 1}}</span></div>
</td>

<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner">
        <span id="model-title" class="pro-list-title" title="{{title}}">{{title}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-picture">
    <div class="bui-grid-cell-inner">
        <span id="model-fromName" class="pro-list-fromName" title="{{fromName}}">{{fromName}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-picture">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text">
        <a href="javascript:;" class="btn-recvState">{{#compare recvState '==' '00'}}<span
                class="x-icon x-icon-small x-icon-warning pointer" style="vertical-align: middle;">
            <i class="icon icon-white icon-folder-close pointer"></i>
        </span>&nbsp;&nbsp;<span style="color:#F0AD4E;">未读</span>{{else}}<span class="x-icon x-icon-small x-icon-info pointer" style="vertical-align: middle;">
            <i class="icon icon-white icon-folder-open pointer"></i>
        </span>&nbsp;&nbsp;已读{{/compare}}</a></span></div>
</td>

<td class="bui-grid-cell grid-td-picture">
    <div class="bui-grid-cell-inner">
        <span class="pro-list-type">
        <a href="javascript:;" class="btn-type">{{#compare type '==' '05'}}系统留言{{else}}客户留言{{/compare}}</a>
        </span>
    </div>
</td>

<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner">
        <span class="pro-list-ip" title="{{ip}}">{{ip}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-category">
    <div class="bui-grid-cell-inner">
        <span id="model-addTime" class="btn-addTime">{{dateFormat addTime 'yyyy-MM-dd hh:mm:ss'}}</span>
    </div>
</td>


<td class="bui-grid-cell grid-td-handle">
    <div class="bui-grid-cell-inner">
        <button type="button" class="button button-info button-mini edit"><i class="icon-white icon-edit"></i>查看
        </button>
        <button type="button" class="button button-danger button-mini delete"><i class="icon-white icon-trash"></i>删除
        </button>
    </div>
</td>