
<form id="J_Form" action="" class="form-horizontal ">

    <div class="control-group">
        <label class="control-label">发送给:</label>
        <div class="controls">
            {{{radio name='type' value=type option='{"其它会员": "user", "管理员": "admin"}' }}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><s>*</s>用户名:</label>
        <div class="controls">
            <input id="model-username" name="username" value="{{sendUsername}}" type="text" class="input-large"
                   data-rules="{required : true}" data-tip='{"text":"请输入用户名"}'>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><s>*</s>标题:</label>
        <div class="controls">
            <input id="model-title" name="title" value="{{title}}" type="text" class="input-large"
                   data-rules="{required : true}" data-tip='{"text":"请输入标题"}'>
        </div>
    </div>
    <div class="control-group" style="height: 80px">
        <label class="control-label"><s>*</s>内容:</label>
        <div class="controls">
            <textarea name="content" id="model-content" class="input-large" rows="5" cols="50" data-rules="{required : true}" data-tip='{"text":"请输入内容"}'>{{content}}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"> 选项:</label>
        <div class="controls">
            {{{radio name='isSaveDraftbox' value=isSaveDraftbox option='{"立即发送": "01", "保存到草稿箱": "00"}' }}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><s>*</s>检证码</label>
        <div class="controls">
            <input id="model-randCode" name="randCode" value="{{randCode}}" type="text" class="input-small"
                   data-rules="{required : true}"
                   data-tip='{"text":"请输入检证码"}'>
            <img id="verifyPic" name="verifyPic" width="56" height="25" class="validete-num refreshCode" src="/veriImg" >
            <a class="refreshCode" href="javascript:;">换一张？</a>
        </div>
    </div>
    <div class="row actions-bar" >
        <div class="form-actions span13 offset3">
            <button id="submit" type="button" class="submitButton button-primary">提 交</button>
            <button id="reset" type="reset" class="submitButton" style="margin-left:20px">重置</button>
        </div>
    </div>
</form>