<div class="member_div">
    <div class="member_div_in"><span class="{{isIcon}}">&nbsp;</span><a href="javascript:;">{{title}}</a></div>  <div title="{{addUser}}">{{sendUsername}}</div>
    <div title="{{recvState}}">{{#compare recvState '==' '00'}}否{{else}}是{{/compare}}</div>
    <div title="{{addTime}}">{{dateFormat addTime 'yyyy-MM-dd hh:mm:ss'}}</div>
    <div><a href="javascript:;" class="edit">回复</a><a href="javascript:;"  class="delete">删除</a></div>
</div>
<div class="member-display" style="{{#if isClicked}}display:block;{{else}}display:none;{{/if}}"> {{content}}</div>
