<form id="J_Form" action="" class="form-horizontal">
    <input id="model-enterpriseId" value="eeeee" name="enterpriseId" type="hidden"/>
    <div class="control-group">
        <label class="control-label"><s>*</s>用户名</label>
        <div class="controls">
            <input id="model-username" name="username" value="{{username}}" type="text" class="input-large"
                   data-rules="{required : true}" data-tip='{"text":"请输入用户名","iconCls":"icon icon-user"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><s>*</s>密码</label>
        <div class="controls">
            <input id="model-password" name="password" value="{{password}}" type="password" class="input-large" data-rules="{required : true}"
                   data-tip='{"text":"请输入密码","iconCls":"icon icon-lock"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><s>*</s>检证码</label>
        <div class="controls">
            <input id="model-randCode" name="randCode" value="{{randCode}}" type="text" class="input-small"
                   data-rules="{required : true}"
                   data-tip='{"text":"请输入检证码"}'>
            <img id="verifyPic" name="verifyPic" width="56" height="25" class="validete-num refreshCode" src="/veriImg" >
            <a class="refreshCode" href="javascript:;">换一张？</a>
        </div>
    </div>

    <div class="row actions-bar" >
        <div class="form-actions span13 offset3">
            <button id="submit" type="button" class="button button-primary">确定</button>
            <button id="reset" type="reset" class="button">重置</button>
            <a href="../register/register.html"><button id="login" type="button" class="button">注册</button></a>
        </div>
    </div>
</form>