<ul class="tool-ul">
    <li><div  class="seo_template">seo模板</div></li>
    <li><div class="seo_batch_submit">seo批量提交</div></li>
    <li><div  class="seo_site_map">SiteMap生成</div></li>
    <li><div  class="seo_template">seo批量提交</div></li>
    <li><div class="seo_inner_link">内部链接设置</div></li>
    <li><div  class="seo_convenient">便捷入口</div></li>
    <li><div  class="seo_keyword">关键词库</div></li>
    <li><div  class="seo_long_tail">长尾关键词</div></li>
    <li><div  class="seo_code">二维码生成器</div></li>
</ul>