<td class="bui-grid-cell grid-td-checkbox">
    <div class="bui-grid-cell-inner">
        <div class="bui-grid-checkBox-container"><span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
        </div>
    </div>
</td>
<td class="x-grid-rownumber  bui-grid-cell grid-td-grid-hd1" data-column-id="grid-hd1" data-column-field="">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text " title="">{{plus dx 1}}</span></div>
</td>

<td class="bui-grid-cell grid-td-news-title">
    <div class="bui-grid-cell-inner"><span class=""><span
            class="pro-list-name"><a href="javascript:;" class="underline" target="_blank" title="{{title}}">{{cutByte
        title 50 end='...'}}</a></span><span
            class="x-icon x-icon-small x-icon-info name show_hide pointer"
            style="vertical-align: middle;"><i
            class="icon icon-white icon-edit pointer"></i></span></span></div>
</td>

<td class="bui-grid-cell grid-td-category">
    <div class="bui-grid-cell-inner">
        <div id="pro-cate-{{dx}}">
            <select name="category" class="text pro-category" value="{{category}}">
                {{#each newsCategoryList}}
                <option value="{{value}}"
                {{#compare value '===' ../category}}selected{{/compare}}>{{text}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</td>

<td class="bui-grid-cell grid-td-col2">
    <div class="bui-grid-cell-inner">
        <input id="model-addTime" name="addTime" value="{{dateFormat addTime 'yyyy-MM-dd'}}" type="text"
               class="calendar" style="border:none">
    </div>
</td>

<td class="bui-grid-cell grid-td-col2">
    <div class="bui-grid-cell-inner">
        <a href="javascript:;" class="btn-display">{{#compare display '==' '01'}}已显示{{else}}已隐藏{{/compare}}</a>
    </div>
</td>
<td class="bui-grid-cell grid-td-col2">
    <div class="bui-grid-cell-inner">
        <a href="javascript:;" class="btn-topnews">{{#compare topnews '==' '01'}}已置顶{{else}}未置顶{{/compare}}</a>
    </div>
</td>


<td class="bui-grid-cell grid-td-move">
    <div class="bui-grid-cell-inner">
        <span class="x-icon x-icon-small x-icon-info move-up pointer"
              title="上移 (若移动到上一页， 可以试着更改每页显示个数)">
            <i class="icon icon-white icon-arrow-up pointer"></i>
        </span>&nbsp;<input type="text" class="control-text input-sort" value="{{sort}}">
        <span class="x-icon x-icon-small x-icon-info move-down pointer"
              title="下移 (若移动到下一页， 可以试着更改每页显示个数)"><i
                class="icon icon-white icon-arrow-down pointer"></i></span>

    </div>
</td>

<td class="bui-grid-cell grid-td-handle">
    <div class="bui-grid-cell-inner">
        <button type="button" class="button button-gray button-mini edit"><i class="icon-edit"></i>修改
        </button>
        <button type="button" class="button button-gray button-mini delete"><i class="icon-trash"></i>删除
        </button>
        <button type="button" class="button button-gray button-mini btn-more" title="更多选项"><i
                class="icon-chevron-down"></i>
        </button>
        <div class="moreOption" style="display:none;">
            <button type="button" class="button button-gray button-mini btn-seo"><i class="icon-zoom-in"></i>seo
            </button>
        </div>
    </div>
</td>