.DS_Store
npm-debug.log
.idea/
.settings
node_modules/
bower_components/
app/bower_components
app/src/*.js
app/config.local.js
app/custom.js
gulpfile.js
package.json
*.iml
*.swp
/.tmp/
/config.js
/uploads
/logs
/dist
