.DS_Store
.idea/
*.iml
*.swp
/.tmp/
/config.js
/uploads
/logs
/dist
test
.settings
npm-debug.log
node_modules/
bower_components/
app/src/*.js
app/base/*.js
app/config.local.js
gulpfile.js
package.json

