.DS_Store
.idea/
*.iml
*.swp
/.tmp/
/config.js
/uploads
/logs

/dist/config.local.js
/dist/base
/dist/demo
/dist/test
/dis/config.local.js
/dis/test.html

test
.settings
npm-debug.log
node_modules/
bower_components/
app/src/*.js
app/base/*.js
app/config.local.js
gulpfile.js
package.json

