<div id="product-add-inner">
    <form id="J_Form" action="" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">上级导航：</label>

            <div class="controls">
                <div id="s1" class="relative">
                    <input type="hidden" id="model-parentId" value="{{parentId}}" name="parentId">
                         <span class="tips-info cate-info">
                        <span class="x-icon x-icon-mini x-icon-info" style="vertical-align: middle;">!</span>
                        <label class="tips-content">未选择上级导航表示添加的是顶级导航</label></span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><s>*</s>导航标识：</label>

            <div class="controls">
                <input id="model-page" name="page" value="{{page}}" type="text" class="input-large"
                       data-rules="{required : true}"
                       data-tip='{"text":"请输入导航标识","iconCls":"icon icon-pencil"}'>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><s>*</s>导航名称：</label>

            <div class="controls">
                <input id="model-name" name="name" value="{{name}}" type="text" class="input-large"
                       data-rules="{required : true}"
                       data-tip='{"text":"请输入导航名称","iconCls":"icon icon-pencil"}'>
            </div>
        </div>
        <div class="row actions-bar" style="display:none;">
            <div class="form-actions span13 offset3">
                <button id="submit" type="button" class="button button-primary">保存</button>
            </div>
        </div>
    </form>
</div>