<!DOCTYPE html>
<html>
<head lang="en">
    <script>
        document.documentElement.className = document.documentElement.className.replace('no-javascript', 'javascript');
    </script>
    <meta charset="UTF-8">
    <title>产品管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="fragment" content="!">
    <meta name="description" content="Description"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<!--[if IE 6]>
<body class="ie7" id="jhw"><![endif]-->
<!--[if IE 7]>
<body class="ie7" id="jhw"><![endif]-->
<!--[if IE 8]>
<body class="ie8" id="jhw"><![endif]-->
<!--[if IE 9]>
<body class="ie9" id="jhw"><![endif]-->
<!--[if IE 10]>
<body class="ie10" id="jhw"><![endif]-->
<!--[if IE 11]>
<body class="ie11" id="jhw"><![endif]-->
<!--[if !IE]>-->
<body id="jhw">
<!--<![endif]-->
<div id="jhw-detail" style="padding-top:5px;"></div>
<script type="text/javascript" src="../../../vendor/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript">
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return (r[2]); return null;
    }
    var arg = GetQueryString('id');
    arg = arg.replace(/[^1-9]/g,"");
    var urlpath = "http://www.jihui88.com/wwy/info?arg="+arg;
    //$(".wwy_qrcode").html(urlpath);
</script>
<div class="wwy_qrcode"></div>
</body>
</html>