<form id="J_Form" class="validate" method="post">
    <table class="inputTable">
        <tbody>
        <tr>
            <th>
                E-mail:
            </th>
            <td>
                <input type="text" id="model-email" name="email" data-rules="{required : true}"
                       data-tip='{"text":"请输入邮箱地址","iconCls":"icon icon-pencil"}'
                       class="formText" value="ykwj715@163.com">
                <label class="requireField">*</label>
            </td>
        </tr>
        <tr>
            <th>
                手机:
            </th>
            <td>
                <input type="text" name="402881882badb4ed012badb9b16d0003" class="formText {mobile: true}" value="">

            </td>
        </tr>
        <tr>
            <th>
                电话:
            </th>
            <td>
                <input type="text" name="402881862bedd9fc012bee0e33890008" class="formText {phone: true}" value="">

            </td>
        </tr>
        <tr>
            <th>
                联系地址:
            </th>
            <td>
                <input type="text" name="402881882badb4ed012badca1d480014" class="formText " value="">

            </td>
        </tr>
        <tr>
            <th>
                联系QQ:
            </th>
            <td>
                <input type="text" name="402881882badb4ed012badc9b4ab0013" class="formText " value="">

            </td>
        </tr>
        <tr>
            <th>
                性别:
            </th>
            <td>
                <label><input type="radio" name="4028338149ac40290149b111a07b0001"
                              class="{required: true, messagePosition: '#4028338149ac40290149b111a07b0001MessagePosition'}"
                              value="male">男</label>
                <label><input type="radio" name="4028338149ac40290149b111a07b0001"
                              class="{required: true, messagePosition: '#4028338149ac40290149b111a07b0001MessagePosition'}"
                              value="female">女</label>
                <span id="4028338149ac40290149b111a07b0001MessagePosition"></span>
                <label class="requireField">*</label>
            </td>
        </tr>
        <tr>
            <th>&nbsp;

            </th>
            <td>
                <input type="submit" class="submitButton" value="提 交" hidefocus="true">
            </td>
        </tr>
        </tbody>
    </table>
</form>