<form id="J_Form" class="validate" >
    <table class="inputTable">
        <tbody>
        <tr>
            <th>
                收货人姓名:
            </th>
            <td>
                <input type="text" id="model-name" name="receiver.name" class="formText "
                       data-rules="{required: true}"
                       data-tip='{"text":"请输入收货人姓名","iconCls":"icon icon-user"}' value="{{name}}">
                <label class="requireField">*</label>
            </td>
        </tr>
        <tr>
            <th>
                地区:
            </th>
            <td>
                <div class="controls bui-form-group-select" id="city">
                </div>
                <label class="requireField">*</label>
            </td>
        </tr>
        <tr>
            <th>
                地址:
            </th>
            <td>
                <input type="text" id="model-address" name="address" data-rules="{required: true}"
                       data-tip='{"text": "请输入地址"}'
                       class="formText" value="{{address}}">
                <label class="requireField">*</label>
            </td>
        </tr>
        <tr>
            <th>
                电话:
            </th>
            <td>
                <input type="text" id="model-phone" name="receiver.phone" data-rules="{required: true}" data-tip='{"text": "请输入电话号码！"}'
                       class="formText"
                       value="{{phone}}">
                <label class="requireField">*</label>
            </td>
        </tr>
        <tr>
            <th>
                手机:
            </th>
            <td>
                <input type="text" id="model-mobile" name="mobile" class="formText"
                       value="{{mobile}}">
            </td>
        </tr>
        <tr>
            <th>
                邮编:
            </th>
            <td>
                <input type="text" id="model-zipCode" name="receiver.zipCode" data-rules="{required: true}"
                       data-tip='{"text": "请输入邮编！"}'
                       class="formText " value="{{zipCode}}">
                <label class="requireField">*</label>
            </td>
        </tr>
        <tr>
            <th>
                是否默认:
            </th>
            <td>
                {{{radio name="isDefault" value=isDefault option='{"是": "01", "否": "00"}'}}}
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input type="button" id="submit" class="submitButton" value="提 交" hidefocus="true">
                <input type="button" class="backButton" onclick="window.history.back(); return false;" value="返 回"
                       hidefocus="true">
            </td>
        </tr>
        </tbody>
    </table>
</form>