<form id="J_Form" class="validate" method="post">
    <table class="inputTable">
        <tbody>
        <tr>
            <th>
                E-mail:
            </th>
            <td>
                <input type="text" id="model-email" name="email" data-rules="{required : true}"
                       data-tip='{"text":"请输入邮箱地址","iconCls":"icon icon-pencil"}'
                       class="formText" value="{{email}}">
                <label class="requireField">*</label>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="attribute-list"></div>
    <table class="inputTable">
        <tbody>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <div class="form-actions">
                    <input type="button" id="submit" class="submitButton" value="提 交" hidefocus="true">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</form>