<form id="J_Form" class="validate">
    <table class="inputTable tabContent">
        <tbody>
        <tr>
            <th>
                旧密码:
            </th>
            <td>
                <input type="password" id="model-oldpassword" name="oldPassword"
                       class="formText {requiredTo: '#password', messages: {requiredTo: '请输入旧密码!'}}">
            </td>
        </tr>
        <tr>
            <th>
                新密码:
            </th>
            <td>
                <input type="password" id="model-newpassword" name="member.password" data-rules="{minlength:6,maxlength:16}"
                       class="formText {minlength: 4, maxlength : 20}">
            </td>
        </tr>
        <tr>
            <th>
                确认新密码:
            </th>
            <td>
                <input type="password"  data-rules="{minlength:6,maxlength:16,equalTo:'#model-newpassword'}" class="formText"
                       data-tip='{"text":"请再次输入密码","iconCls":"icon icon-lock"}'>
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <span class="warnInfo"><span class="icon">&nbsp;</span>系统提示：若密码留空，则保持不变</span>
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input type="button" id="submit" class="submitButton" value="提 交" hidefocus="true">
            </td>
        </tr>
        </tbody>
    </table>
</form>