<form id="J_Form">
<table class="inputTable listTable" >
    <tr>
        <th>
            充值金额:
        </th>
        <td>
            <input type="text" name="totalAmount" id="model-totalAmount"
                   data-rules="{required: true, regexp:/^[1-9]{1} | [\d]+$/}" data-tip="{'text': '请填写充值金额'}" data-messages="{regexp:'充值金额必须大于0！'}"
                   class="formText " />
            <label class="requireField">*</label>
        </td>
    </tr>
    <tr>
        <th>
            支付方式:
        </th>
        <td>
            <table class="paymentConfigTable">

            </table>
        </td>
    </tr>
    <tr>
        <th>
            &nbsp;
        </th>
        <td>
            <input type="button" id="submit" class="submitButton" value="立刻充值" hidefocus="true" />
        </td>
    </tr>
</table>
</form>