<td class="bui-grid-cell grid-td-checkbox">
    <div class="bui-grid-cell-inner">
        <div class="bui-grid-checkBox-container"><span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
        </div>
    </div>
</td>
<td class="x-grid-rownumber  bui-grid-cell grid-td-grid-hd1" data-column-id="grid-hd1" data-column-field="">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text " title="">{{plus dx 1}}</span></div>
</td>
<td class="bui-grid-cell grid-td-picture">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text"><img class="product-img"
                                                                           src="{{CONST 'PIC_URL'}}/{{picUrl picPath 6}}"
                                                                           width="40"
            ></span></div>
</td>
<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner "><span class=""><span
            class="pro-list-name"><a href="javascript:;" class="underline" target="_blank" title="{{title}}">{{cutByte
        title 50 end='...'}}</a></span>
        </span>
    </div>
</td>

<td class="bui-grid-cell grid-td-time1">
    <div class="bui-grid-cell-inner">
        <input name="addTime" value="{{dateFormat addTime 'yyyy-MM-dd'}}" type="text" class="input-small"
               style="border:none">
    </div>
</td>

<td class="bui-grid-cell grid-td-handle">
    <div class="bui-grid-cell-inner">
        <button type="button" class="button button-gray button-mini btn-edit"><i class="icon-edit"></i>修改
        </button>
        <button type="button" class="button button-gray button-mini btn-del"><i class="icon-trash"></i>删除
        </button>
    </div>
</td>