<form id="J_Form" action="" class="form-horizontal">

    <div id="qwt-pre"
         style="font-size: 16px; overflow: hidden; width: auto; min-height: 0px;"
         class="ui-dialog-content ui-widget-content" scrolltop="0" scrollleft="0">
        <p class="validateTips">填写完成后点击确定,系统将自动生成您的请帖:</p>
        <table width="100%" border="0">
            <tbody>
            <tr>
                <td width="19%" style="text-align: right"><label>男方姓名: </label></td>
                <td width="81%"><span class="input-prompt" id="input-prompt-2"
                                      style="display: none;">例如:李大仁</span><input
                        class="text ui-widget-content ui-corner-all input-prompt-2" type="text" title="例如:李大仁"
                        id="model-groomname" name="invite_groomname" value="" size="15"><!--(必填)--></td>
            </tr>
            <tr>
                <td style="text-align: right"><label for="model-bridename">女方姓名: </label></td>
                <td><span class="input-prompt" id="input-prompt-3" style="display: none;">例如:程又青</span><input
                        class="text ui-widget-content ui-corner-all input-prompt-3" type="text" title="例如:程又青"
                        id="model-bridename" name="model-bridename" value="" size="15"><!--(必填)--></td>
            </tr>
            <tr>
                <td style="text-align: right"><label for="">宴客日期: </label></td>
                <td>
                    <table width="100%" border="0">
                        <tbody>
                        <tr>
                            <td><span class="input-prompt" id="input-prompt-4"
                                      style="display: none;">例:2012/12/31</span>
                                <input type="text" title="例:2012/12/31"
                                       class="text ui-widget-content ui-corner-all input-prompt-4 calendar"
                                       id="model-activitydate"
                                       name="invite_activitydate"
                                       value="2015-01-31" size="15"
                                       readonly="true"></td>
                            <td><label for="model-hour">时间: </label></td>
                            <td><span class="input-prompt" id="input-prompt-5" style="display: none;">例:12</span><input
                                    type="text" title="例:12"
                                    class="text ui-widget-content ui-corner-all input-mini input-prompt-5"
                                    id="model-hour" name="model-hour" value="12" size="4"></td>
                            <td><label for="model-minute">时</label></td>
                            <td><span class="input-prompt" id="input-prompt-6" style="display: none;">例:30</span><input
                                    type="text" title="例:30"
                                    class="text ui-widget-content input-mini ui-corner-all input-prompt-6"
                                    id="model-minute" name="invite_activityminute" value="30" size="4"></td>
                            <td><label for="model-minute">分</label></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><label for="model-activityplace">场所名称: </label></td>
                <td><span class="input-prompt" id="input-prompt-7" style="display: none;">例如:国宾饭店二楼国际厅</span><input
                        type="text" title="例如:国宾饭店二楼国际厅" class="text ui-widget-content ui-corner-all input-prompt-7"
                        id="model-activityplace" name="model-activityplace" value="" size="30"></td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align:top"><label for="model-activityaddress">场所地址: </label>
                </td>
                <td><span class="input-prompt" id="input-prompt-8" style="display: none;">例如:台北市中山北路二段63号</span><input
                        type="text" title="例如:台北市中山北路二段63号" class="text ui-widget-content ui-corner-all input-prompt-8"
                        id="model-activityaddress" name="model-activityaddress" value="" size="50">

                    <div style=" color:#999">填写详细地址(省市到街道门牌)以便地图准确标示</div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><label for="model-contactphone">连络电话: </label></td>
                <td><span class="input-prompt" id="input-prompt-9" style="display: none;">例如:(02)2551-1111</span><input
                        type="text" title="例如:(02)2551-1111" class="text ui-widget-content ui-corner-all input-prompt-9"
                        id="model-contactphone" name="model-contactphone" value="" size="20"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <input id="submit" type="hidden" class="button button-primary"></input>
</form>