<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{productSn}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{productName}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{deliveryQuantity}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{productQuantity}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{totalDeliveryQuantity}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text"><input id="model-sum" type="text" value="1" class="input-mini"/></span>
    </div>
</td>
