<div id="product-add-inner">
    <form id="J_Form" action="" class="form-horizontal">
        <div class="control-group">
            <label class="control-label"> <s>*</s>物流公司名称： </label>
            <div class="controls">
                <input id="model-name" name="name" value="{{name}}" type="text" class="input-large"
                       data-rules="{required : true}"
                       data-tip='{"text":"请输入物流公司名称","iconCls":"icon icon-pencil"}'>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"> <s>*</s>物流公司名称： </label>
            <div class="controls">
                <input id="model-url" name="url" value="{{url}}" type="text" class="input-large">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">排序： </label>
            <div class="controls">
                <input id="model-sort" name="sort" value="{{sort}}" type="text" class="input-mini">
            </div>
        </div>
        <div class="row actions-bar" style="display:none;">
            <div class="form-actions span13 offset3">
                <button id="submit" type="button" class="button button-primary">保存</button>
                <button id="reset" type="reset" class="button">重置</button>
            </div>
        </div>
    </form>
</div>