<form id="Search_Form" action="" class="form-horizontal">
    <div class="control-group">
        <label class="control-label">订单编号：</label>
        <div class="controls">
            <input id="model-orderSn" name="orderSn" value="{{orderSn}}" type="text" class="input-middle">
        </div>
        <label class="control-label">用户名：</label>
        <div class="controls">
            <input id="model-username" name="username" type="text" class="input-middle" value="{{username}}">
        </div>
        <label class="control-label">收货人：</label>
        <div class="controls">
            <input id="model-shipName" type="text" name="shipName" value="{{shipName}}"/>
        </div>
        <label class="control-label" for="">
            配送状态：
        </label>
        <div class="controls">
            <select name="shippingStatus" class="text pro-category" >
                {{#each shippingStatus}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="control-group">

        <label class="control-label">收货地址：</label>
        <div class="controls">
            <input id="model-shipArea" type="text" name="shipArea" value="{{shipArea}}"/>
        </div>
        <label class="control-label">付款状态：</label>
        <div class="controls">
            <select name="paymentStatus" class="text pro-category" >
                {{#each paymentStatus}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
        <label class="control-label">订单状态：</label>
        <div class="controls">
            <select name="orderStatus" class="text pro-category" >
                {{#each orderStatus}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>

    </div>
</form>