<form id="J_Form" action="" class="form-horizontal">
<div id="grid" class="jhw-panel">
    <div class="bui-grid bui-simple-list bui-grid-width bui-grid-hover bui-simple-list-hover">
        <div class="bui-grid-body-detail">
            <div id="product-add-inner">
                <div id="tab"></div>
                <div id="panel" class="" style="padding:10px;">
                    <div>
                        <div class="span12 span-first">
                            <div class="control-group">
                                <label class="control-label">订单编号：</label>

                                <div class="controls">
                                    <input type="hidden" id="model-orderSn"/>
                                    {{orderSn}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">商品总金额：</label>

                                <div class="controls">
                                    <input id="model-totalAmount" type="hidden"/>
                                    <span class="red">￥{{totalAmount}}元</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">配送方式：</label>

                                <div class="controls">
                                    {{defaultDeliveryCorp}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">配送费用： </label>

                                <div class="controls">
                                    {{deliveryFee}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">商品重量： </label>

                                <div class="controls">
                                    <div id="s3">
                                        {{productWeight}}{{productWeightUnit}}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    收货人姓名:
                                </label>

                                <div class="controls">
                                    {{shipName}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    收货地址:
                                </label>

                                <div class="controls">
                                    {{shipAddress}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    电话：
                                </label>

                                <div class="controls">
                                    {{shipPhone}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">用户名：</label>

                                <div class="controls">
                                    {{shipName}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">预存款余额:</label>

                                <div class="controls">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">E-mail:</label>

                                <div class="controls">
                                </div>
                            </div>
                        </div>
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label">下单时间：</label>

                                <div class="controls">
                                    {{addTime}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">订单总金额：</label>

                                <div class="controls">
                                    <span class="red">￥{{totalAmount}}元</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">支付方式：</label>

                                <div class="controls">
                                    {{deliveryMethod}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">支付手续费： </label>

                                <div class="controls">
                                    {{paymentFee}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    附言:
                                </label>

                                <div class="controls">
                                    {{memo}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">收货地区</label>

                                <div class="controls bui-form-group-select" data-type="city">
                                    <select class="input-small" value="山东省">
                                        <option>省份</option>
                                    </select>&nbsp;&nbsp;
                                    <select class="input-small">
                                        <option>城市</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    邮编：
                                </label>

                                <div class="controls">
                                    {{shipZipCode}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">手机：</label>

                                <div class="controls">
                                    {{shipMobile}}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    会员等级
                                </label>

                                <div class="controls">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">最后登录IP:</label>

                                <div class="controls">

                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">积分:</label>

                                <div class="controls">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide">
                        <div class="bui-grid-header-container">
                            <div class="bui-grid-header">
                                <table cellspacing="0" class="bui-grid-table" cellpadding="0">
                                    <thead>
                                    <tr>
                                        <th class="bui-grid-hd grid-td-order-number">
                                            <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">货号</span><span
                                                    class="bui-grid-sort-icon">&nbsp;</span></div>
                                        </th>
                                        <th class="bui-grid-hd grid-td-order-number">
                                            <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">商品名称</span><span
                                                    class="bui-grid-sort-icon">&nbsp;</span></div>
                                        </th>
                                        <th class="bui-grid-hd grid-td-order-number">
                                            <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">价格</span><span
                                                    class="bui-grid-sort-icon">&nbsp;</span></div>
                                        </th>
                                        <th class="bui-grid-hd grid-td-order-number">
                                            <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">购买数量</span><span
                                                    class="bui-grid-sort-icon">&nbsp;</span></div>
                                        </th>

                                        <th class="bui-grid-hd grid-td-handle" style="padding-right:16px;">
                                            <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">操作</span><span
                                                    class="bui-grid-sort-icon">&nbsp;</span></div>
                                        </th>
                                    </tr>

                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bui-grid-footer">
            <div class="row">
                <div class="form-actions span13 offset3">
                    <button id="submit" type="button" class="button button-primary">保存</button>
                    <button id="reset" type="reset" class="button">重置</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>