<div class="bui-grid bui-simple-list bui-grid-width  bui-grid-strip bui-grid-hover bui-simple-list-hover">
<div class="bui-grid-body-detail">
<div id="product-add-inner">
<form id="J_Form" action="" class="form-horizontal">
<div id="tab"></div>
<div id="panel" class="" style="padding:10px;">
<!--常规-->
<div>
    <div class="control-group">
        <label class="control-label">订单状态：</label>

        <div class="controls">
            [{{{paymentStatus paymentStatus}}}] [{{{shippingStatus shippingStatus}}}] [{{paymentConfigName}}]
        </div>
    </div>
    <div class="span12 span-first">
        <div class="control-group">
            <label class="control-label">订单编号：</label>

            <div class="controls">
                <input type="hidden" id="model-orderSn"/>
                {{orderSn}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商品总金额：</label>

            <div class="controls">
                <input id="model-totalAmount" type="hidden"/>
                <span class="red">￥{{totalAmount}}元</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">配送方式：</label>

            <div class="controls">
                {{deliveryType.name}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">配送费用： </label>

            <div class="controls">
                {{deliveryFee}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商品重量： </label>

            <div class="controls">
                {{productWeight}}{{productWeightUnit}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                收货人姓名:
            </label>

            <div class="controls">
                {{shipName}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                收货地址:
            </label>

            <div class="controls">
                {{shipAddress}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                电话：
            </label>

            <div class="controls">
                {{shipPhone}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">用户名：</label>

            <div class="controls">
                {{shipName}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">预存款余额:</label>

            <div class="controls">
                {{memberObj.deposit}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">E-mail:</label>

            <div class="controls">
                {{memberObj.email}}
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="control-group">
            <label class="control-label">下单时间：</label>

            <div class="controls">
                {{addTime}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">订单总金额：</label>

            <div class="controls">
                <span class="red">￥{{totalAmount}}元</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">支付方式：</label>

            <div class="controls">
                {{paymentConfig.name}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">支付手续费： </label>

            <div class="controls">
                {{paymentFee}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                附言:
            </label>

            <div class="controls">
                {{memo}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">收货地区</label>

            <div class="controls bui-form-group-select">
                {{shipArea}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                邮编：
            </label>

            <div class="controls">
                {{shipZipCode}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">手机：</label>

            <div class="controls">
                {{shipMobile}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                会员等级
            </label>

            <div class="controls">
                {{memberObj.memberRank.name}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">最后登录IP:</label>

            <div class="controls">
                {{memberObj.loginIp}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">积分:</label>

            <div class="controls">
                {{memberObj.memberRank.point}}
            </div>
        </div>
    </div>
</div>
<div class="hide">
    <div class="bui-grid-header-container">
        <div class="bui-grid-header">
            <table cellspacing="0" class="bui-grid-table" cellpadding="0">
                <thead>
                <tr>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">货号</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">商品名称</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">价格</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">购买数量</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>

                    <th class="bui-grid-hd grid-td-handle" style="padding-right:16px;">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">操作</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="bui-grid-body">
        <table cellspacing="0" cellpadding="0" class="bui-grid-table">
            <tbody id="product-info-list">
            </tbody>
        </table>
    </div>
</div>
<div class="hide">
    <div class="bui-grid-header-container">
        <div class="bui-grid-header">
            <table cellspacing="0" class="bui-grid-table" cellpadding="0">
                <thead>
                <tr>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">支付编号</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">支付类型</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">支付方式</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">支付金额</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">支付手续费</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">付款人</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">支付状态</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">支付时间</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="bui-grid-body">
        <table cellspacing="0" cellpadding="0" class="bui-grid-table">
            <tbody id="payment-info-list">
            </tbody>
        </table>
    </div>
</div>
<div class="hide">
    <div class="bui-grid-header-container">
        <div class="bui-grid-header">
            <table cellspacing="0" class="bui-grid-table" cellpadding="0">
                <thead>
                <tr>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">发货编号</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">配送方式名称</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">物流公司名称</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">物流编号</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">物流费用</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">收货人姓名</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">收货地区</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">发货时间</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="bui-grid-body">
        <table cellspacing="0" cellpadding="0" class="bui-grid-table">
            <tbody id="delivery-info-list">
            </tbody>
        </table>
    </div>
</div>
<div class="hide">
    <div class="bui-grid-header-container">
        <div class="bui-grid-header">
            <table cellspacing="0" class="bui-grid-table" cellpadding="0">
                <thead>
                <tr>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">日志类型</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">操作员</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">日志信息</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">操作日间</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="bui-grid-body">
        <table cellspacing="0" cellpadding="0" class="bui-grid-table">
            <tbody id="order-log-list">
            </tbody>
        </table>
    </div>
</div>

</div>
</form>
</div>
</div>
<div class="bui-grid-footer">
    <div class="row">
        <div class="form-actions span13 offset3">
            <button id="btn-back" type="button" class="button btn-back">返回</button>
        </div>
    </div>
</div>
</div>






