<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{paymentSn}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{paymentType paymentType}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text"> {{paymentConfigName}} </span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text"> ￥{{totalAmount}}元 </span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text"> ￥{{paymentFee}}元 </span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text"> {{payer}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text"> {{paymentStatus paymentStatus}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">
            {{addTime}}
           </span>
    </div>
</td>