<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{productSn}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{productName}}</span>
    </div>
</td></td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">

            <input id="model-productPrice" value="{{productPrice}}" name="productPrice" type="text"
                   class="input-sort"/>
           </span>
    </div>
</td></td></td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">
            <span class="x-icon x-icon-small x-icon-info btn-quantity-minus pointer" style="vertical-align: middle;">
                <i class="icon icon-white icon-minus-mini pointer"></i>
            </span>
            <input id="model-productQuantity" value="{{productQuantity}}" name="productQuantity" type="text"
                   class="input-sort"/>
             <span class="x-icon x-icon-small x-icon-info btn-quantity-plus pointer" style="vertical-align: middle;">
                <i class="icon icon-white  icon-plus-mini pointer"></i>
            </span>
        </span>
    </div>

<td class="bui-grid-cell grid-td-handle">
    <div class="bui-grid-cell-inner">
        <button type="button" class="button button-gray button-mini delete"><i class="icon-trash"></i>删除
        </button>
    </div>
</td>