<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{productSn}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{productName}}</span>
    </div>
</td></td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">
            <input id="model-productPrice" value="{{productPrice}}" type="text"/>
            </span>
    </div>
</td></td></td>
<td class="bui-grid-cell grid-td-order-number">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text">{{productQuantity}}</span>
    </div>

<td class="bui-grid-cell grid-td-handle">
    <div class="bui-grid-cell-inner">
        <button type="button" class="button button-gray button-mini delete"><i class="icon-trash"></i>删除
        </button>
    </div>
</td>