<form id="shipping-form" action="" class="form-horizontal" >
    <input id="model-orderId" type="hidden" value="{{orderId}}"/>
    <div class="span12">
        <div class="control-group">
            <label class="control-label">
                配送方式:
            </label>

            <div class="controls">
                <div id="s3">
                    <input id="model-typeId" type="hidden"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">
                物流公司:
            </label>

            <div class="controls">
                <div id="s4">
                    <input id="model-shipping_deliveryCorpName" type="hidden"/>
                    <input id="shipping_deliveryCorp" type="hidden"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">
                物流费用:
            </label>

            <div class="controls">
                <input id="model-shipping_deliveryFee" type="text" value="{{deliveryFee}}" class="input-mini"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">
                收货人姓名:
            </label>
            <div class="controls">
                <input id="model-shipping_shipName" type="text" value="{{shipName}}" class="input-large"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">
                收货地址:
            </label>
            <div class="controls">
                <input id="model-shipping_shipAddress" value="{{shipAddress}}" type="text" class="input-large"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">
                电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:
            </label>
            <div class="controls">
                <input id="model-shipping_shipPhone" value="{{shipPhone}}" type="text" class="input-large"/>
            </div>
        </div>

    </div>
    <div class="span12">
        <div class="control-group">
            <label class="control-label" for="">
                配送费用:
            </label>
            <div class="controls">
                <span class="red">￥{{paymentFee}}元</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">
                物流编号:
            </label>
            <div class="controls">
                <input id="model-shipping_deliverySn" value="{{deliverySn}}" type="text" class="input-large"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">
                收货地区:
            </label>
            <div class="controls">
                <input id="model-shipping_shipAreaPath" type="text" value="402881882ba8753a012ba8dc469500bc,402881882ba8753a012ba8de4dde00c5"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                邮编:
            </label>
            <div class="controls">
                <input id="model-shipping_shipZipCode" value="{{shipZipCode}}" type="text" class="input-large"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">
                手机:
            </label>
            <div class="controls">
                <input id="model-shipping_shipMobile" value="{{shipMobile}}" type="text" class="input-large"/>

            </div>
        </div>
        <div class="control-group">
            <lavel class="control-label">
                发货备注:
            </lavel>
            <div class="controls">
                <input id="model-shipping_memo" value="{{memo}}" type="text" class="input-large"/>
            </div>
        </div>
    </div>
    <div class="bui-grid-header-container" style="clear:both;height: 40px;">
        <div class="bui-grid-header">
            <table cellspacing="0" class="bui-grid-table" cellpadding="0">
                <thead>
                <tr>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">货号</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">商品名称</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">购买数量</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">当前库存</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">已发货数</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>
                    <th class="bui-grid-hd grid-td-order-number">
                        <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">本次发货数</span><span
                                class="bui-grid-sort-icon">&nbsp;</span></div>
                    </th>

                </tr>

                </thead>
            </table>
        </div>
    </div>
    <div class="bui-grid-body">
        <table cellspacing="0" cellpadding="0" class="bui-grid-table">
            <tbody id="delivery-list">
            </tbody>
        </table>
    </div>
    <div class="btn-fixed zIndex-lv1" style="clear:both;" >
        <button id="submit" type="button" class="button button-primary" {{#xif 'this._data.orderStatus == "completed" || this._data.orderStatus == "invalid" || this._data.shippingStatus == "shipped"'}}disabled{{/xif}}>保存</button>
    </div>

</form>
