<form id="J_Form" action="" class="form-horizontal">
<div class="bui-grid bui-simple-list bui-grid-width bui-grid-hover bui-simple-list-hover">
<div class="bui-grid-body-detail">
<div id="product-add-inner">
<div id="tab"></div>
<div id="panel" class="" style="padding:10px;">
<!--常规-->
<div>
    <div class="control-group">
        <label class="control-label"><s>*</s>产品名称：</label>

        <div class="controls">
            <input id="model-name" name="name" value="{{name}}" type="text" class="input-large"
                   data-rules="{required : true}"
                   data-tip='{"text":"请输入产品名称","iconCls":"icon icon-pencil"}'>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><s>*</s>产品分类：</label>

        <div class="controls">
            <div id="s1">
                <input type="hidden" id="model-category" value="{{category}}" name="category"
                       data-rules="{required : true}">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">产品型号：</label>

        <div class="controls">
            <input id="model-prodtype" name="prodtype" value="{{prodtype}}" type="text"
                   class="input-large"
                   data-tip='{"text":"请输入产品型号","iconCls":"icon icon-pencil"}'>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="model-loginView">基本设置：</label>

        <div class="controls">
            <div id="s2">
                <input id="model-loginView" name="loginView" value="{{loginView}}" class="input-small"
                       type="hidden" style="margin-right:5px;"/>
                <input id="model-ads" name="ads" value="{{ads}}" class="input-small" type="hidden"/>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><s>*</s>产品图片：</label>

        <div class="controls control-row-auto">
            <div id="picture-pick" style="width:580px;"></div>
        </div>
    </div>
</div>
<!--产品描述-->
<div class="hide" style="margin: -10px;">
    <textarea id="model-proddesc" name="proddesc" class="ckeditor proddesc text" rows="12"
              cols="95" style="width: 100%;height:250px;">{{proddesc}}</textarea>
</div>
<!--产品属性-->
<div class="hide">
    <div class="span12 left">
        <div class="control-group">
            <label class="control-label">更改分类：</label>

            <div class="controls" style="position:relative;">
                <div id="attCate">
                    <input id="attCateHid" type="hidden" value="{{category}}" name="category">
                 <span class="cate-info">
                        <label class="tips-content"><a href="#/attributes?id={{category}}" class="setAttribute"
                                                       target="_blank">设置当前分类属性</a></label></span>
                </div>
            </div>
        </div>
        <div id="product-attr">
            <div id="attributes-list">

            </div>
        </div>
    </div>
    <div class="span12 left">
        <div class="up-tips">
            <div class="little">小提示:&nbsp;</div>
            <ul>
                <li><strong>1.属性说明： </strong>产品属性跟产品分类相关，属性选项取决于在常规里设置的分类</li>
                <li><strong>2.更改分类： </strong>您可以更改成其它分类里的属性</li>
                <li><strong>3.编辑属性： </strong>若您不满意当前属性， 您可以点击“设置当前分类属性”按钮， 我们将为你新开一个窗口进行设置。设置完成后请选择其它选项再选择当前分类即可显示正确属性选项
                </li>
            </ul>
        </div>
    </div>
</div>
<!--商城属性-->
<div class="hide">

    <div class="span12 span-first left">
        <div class="control-group">
            <label class="control-label">产品价格：</label>

            <div class="controls">
                <input id="model-price" name="price" value="{{price}}" type="text" class="input-middle"
                       data-tip='{"text":"产品价格","iconCls":"icon icon-pencil"}'>&nbsp;元
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商品重量：</label>

            <div class="controls">
                <input id="model-weight" name="weight" value="{{weight}}" type="text" class="input-small">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">库存数量：</label>

            <div class="controls">
                <input id="model-store" name="store" value="{{store}}" type="text" class="input-small">&nbsp;件
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">是否上架：</label>

            <div class="controls">
                {{{radio name='isMarketable' value=isMarketable option='{"是": "01", "否": "00"}' }}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">新品商品：</label>

            <div class="controls">
                {{{radio name='isNew' value=isNew option='{"是": "01", "否": "00"}' }}}
            </div>
        </div>


    </div>
    <div class="span12 left">
        <div class="control-group">
            <label class="control-label">市场价格：</label>

            <div class="controls">
                <input id="model-marketPrice" name="marketPrice" value="{{marketPrice}}" type="text"
                       class="input-middle">元
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">重量单位：</label>

            <div class="controls">
                <div id="weightUnit">
                    <input id="model-weightUnit" name="weightUnit" value="{{weightUnit}}" type="hidden"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商品积分：</label>

            <div class="controls">
                <input id="model-point" name="point" value="{{point}}" type="text" class="input-middle">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">精品商品：</label>

            <div class="controls">
                {{{radio name='isBest' value=isBest option='{"是": "01", "否": "00"}' }}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">热销商品：</label>

            <div class="controls">
                {{{radio name='isHot' value=isHot option='{"是": "01", "否": "00"}' }}}
            </div>
        </div>
    </div>
</div>
<!--产品标签-->
<div class="hide">
    <div class="span12 left">
        <div id="pro-tag">
            <input type="hidden" id="model-taglist" value="{{taglist}}" name="taglist">

            <div id="tag-box"></div>
        </div>
    </div>
    <div class="span12 left">
        <div class="up-tips">
            <div class="little">小提示:&nbsp;</div>
            <ul>
                <li><strong>1.标签说明： </strong>产品标签主要用于网站显示个性化定制的模块，比如打折商品模块、最新商品模块等</li>
                <li><strong>2.标签使用： </strong>您可以点击文本框输入内容，比如最新商品、热卖商品等后按回车即可完成添加， 新添加的标签将保存到标签库， 方便下次选择</li>
                </li>
            </ul>
        </div>
    </div>

</div>
<!--搜索引擎优化-->
<div class="hide">
    <div class="control-group">
        <label class="control-label">SEO标题：</label>

        <div class="controls">
            <input id="model-seoTitle" name="seoTitle" value="{{seoTitle}}" type="text" class="input-large">&nbsp;&nbsp;如：防盗门、防火门等
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">SEO关键字：</label>

        <div class="controls">
            <input id="model-pkey" name="pkey" value="{{pkey}}" type="text" class="input-large">&nbsp;&nbsp;如：防盗门、防火门等
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">SEO描述：</label>

        <div class="controls control-row-auto">
            <textarea id="model-seoDescription" name="seoDescription"
                      class="input-large">{{seoDescription}}</textarea>&nbsp;&nbsp;限79字内，加联系电话或邮件
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="bui-grid-footer">
    <div class="row" style="display:block;">
        <div class="form-actions span13 offset3">
            <button id="submit" type="button" class="button button-primary">保存</button>
            <button id="btn-back" type="button" class="button btn-back">返回</button>
        </div>
    </div>
</div>
</div>
</form>