<td class="bui-grid-cell grid-td-checkbox">
    <div class="bui-grid-cell-inner">
        <div class="bui-grid-checkBox-container"><span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
        </div>
    </div>
</td>
<td class="bui-grid-cell grid-td-picture"><div class="bui-grid-cell-inner"><span class="bui-grid-cell-text"><img src="http://img.taobao.com/bao/uploaded/i1/TB1G_rSFVXXXXa7XVXXXXXXXXXX_!!0-item_pic.jpg_sum.jpg"></span></div></td>
<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner"><span class="" title="{{name}}">[{{add dx 1}}]<span class="pro-list-name">{{name}}</span><span class="x-icon x-icon-small x-icon-warning name show_hide pointer" style="vertical-align: middle;"><i class="icon icon-white icon-edit pointer"></i></span></span></div>
</td>
<td class="bui-grid-cell grid-td-handle">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text "><a href="javascript:;" class="edit">修改</a>丨<a
            href="javascript:;" class="delete">删除</a></span></div>
</td>