<td class="bui-grid-cell grid-td-checkbox">
    <div class="bui-grid-cell-inner">
        <div class="bui-grid-checkBox-container"><span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
        </div>
    </div>
</td>
<td class="x-grid-rownumber  bui-grid-cell grid-td-grid-hd1" data-column-id="grid-hd1" data-column-field="">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text " title="">{{add dx 1}}</span></div>
</td>
<td class="bui-grid-cell grid-td-picture">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text"><img
            src="http://img.taobao.com/bao/uploaded/i1/TB1G_rSFVXXXXa7XVXXXXXXXXXX_!!0-item_pic.jpg_sum.jpg" width="52"
            height="52"></span></div>
</td>

<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner"><span class="" title="{{name}}"><span
            class="pro-list-name">{{name}}</span><span class="x-icon x-icon-small x-icon-warning name show_hide pointer"
                                                       style="vertical-align: middle;"><i
            class="icon icon-white icon-edit pointer"></i></span></span></div>
</td>

<td class="bui-grid-cell grid-td-handle">
    <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text"><a href="javascript:;" class="grid-command btn-edit edit"><i
                class="icon icon-edit"></i>修改</a>/<a href="javascript:;" class="grid-command btn-del delete"><i
                class="icon icon-trash"></i> 删除</a>
        </span>
    </div>
</td>