<div id="jhw-top-left">
    机汇网后台营销系统
</div>
<div id="jhw-top-right">
    <div class="jhw-top-l"><p class="welcome">欢迎访问系统应用！<span style="color:orange;">[按F11，全屏操作]</span>
    </p></div>
    <div class="jhw-top-r">
        <div class="top-menu"><a class="top-index" href="#">首页</a><a class="top-message" href="#/message">留言管理</a><a
                class="top-tool" href="#/tool">工具管理</a><a class="top-member" href="#/member">会员管理</a><a
                class="top-login" href="javascript:;">退出</a></div>
    </div>
</div>