<ul id="left-bar-ul">
    <li><a href="#" class="menu-index">首页</a></li>
    <li><a href="#/product" class="menu-product">产品管理</a></li>
    <li><a href="#/category/product" class="menu-category">分类管理</a></li>
    <li><a href="#/news" class="menu-news">新闻管理</a></li>
    <li><a href="#/category/news" class="menu-category">新闻分类管理</a></li>
    <li><a href="#/attributes" class="menu-index">属性管理</a></li>
    <li><a href="#/member" class="menu-member">会员管理</a></li>
    <li><a href="javascript:;" class="menu-login">退出登录</a></li>
</ul>