<div class="jhw-panel">
    <div class="main">
        <div class="module01">
            <div class="bodyContTitle">
                <span class="zxgg">最新公告</span><span class="czzn">操作指南</span>
            </div>
            <div class="bodyContContent bodyContContent01">
                <div class="notice notice001">
                    <p class="time">10月17日 星期四</p>
                    <p class="biaoti">机汇网第四版上线</p>
                    <p>机汇网第四版经过测试后隆重上线了</p>
                    <p align="right">>了解详情</p>
                </div>
                <div class="notice notice002">
                    <p class="time">10月17日 星期四</p>
                    <p class="biaoti">机汇网第四版上线</p>
                    <p>机汇网第四版经过测试后隆重上线了</p>
                    <p align="right">>了解详情</p>
                </div>
                <div class="notice notice003">
                    <p class="time">10月17日 星期四</p>
                    <p class="biaoti">机汇网第四版上线</p>
                    <p>机汇网第四版经过测试后隆重上线了</p>
                    <p align="right">>了解详情</p>
                </div>
            </div>
            <div class="bodyContContent bodyContContent02">
                1,机汇网后台操作指南—本套营销系统后台操作注意事项（一）<br>
                2,机汇网后台操作指南—本套营销系统后台操作注意事项（二）<br>
                3,机汇网后台操作指南—本套营销系统后台操作注意事项（三）<br>
                4,机汇网后台操作指南—本套营销系统后台操作注意事项（四）<br>
                5,机汇网后台操作指南—本套营销系统后台操作注意事项（五）<br>
                6,机汇网后台操作指南—本套营销系统后台操作注意事项（六）<br>
                7,机汇网后台操作指南—本套营销系统后台操作注意事项（七）<br>
                8,机汇网后台操作指南—本套营销系统后台操作注意事项（八）
            </div>
        </div>
        <div class="module02">
            <div class="mokuai mokuai001">
                <img src="images/kehu.jpg" alt="机汇网" border="0">
                <p class="nihao">{{username}}，您好！</p>
                <div class="jhwhy">机汇网会员</div>
                <p>到期时间：2015年8月8日</p>
                <p>修改当前账户/密码</p>
            </div>
            <div class="mokuai mokuai002">
                <p>发布产品 <span class="num">2709</span> 条 发布新闻 <span class="num">190</span> 条</p>
                <p>上传图片 <span class="num">206</span> 张</p>
            </div>
            <div class="mokuai mokuai003">
                <a class="gongju" href="#/tool"><img src="images/tool.jpg" alt="机汇网" border="0"></a>
                <p class="one">我的工具</p>
                <p>推荐一个新功能，去试试吧！</p>
                <a class="two" href="#/tool">体验新功能</a>
            </div>
            <div class="mokuai mokuai004">
                <div><a href="#/static"><img src="images/webset.jpg" alt="机汇网" border="0"></a></div>
                <a class="two" href="#/static">管理应用</a>
            </div>
        </div>
        <div class="module03">
            <div class="mokuai mokuai001" onclick="window.location.href ='#/message'">
                <span class="num">12</span><p>未读消息</p><div class="ckxq ckxq01">查看详情</div>
            </div>
            <div class="mokuai mokuai002" onclick="window.location.href ='#/product'">
                <span class="num">12</span><p>发布产品</p><div class="ckxq ckxq02">查看详情</div>
            </div>
            <div class="mokuai mokuai003" onclick="window.location.href ='#/news'">
                <span class="num">12</span><p>发布新闻</p><div class="ckxq ckxq03">查看详情</div>
            </div>
            <div class="mokuai mokuai004" onclick="window.location.href ='#/album'">
                <span class="num">12</span><p>上传图片</p><div class="ckxq ckxq04">查看详情</div>
            </div>
        </div>
        <div class="module04">
            <div class="mokuai mokuai001">
                <p class="wdsp">我的商铺</p>
                <p>订单提醒：待发货订单（<span class="num">0</span>）未付款订单（<span class="num">12</span>）</p>
                <div class="smile">
                    <div class="yuansu yuansu001">
                        <a class="one" href="#"><img src="images/element01.jpg" alt="交易管理" border="0"></a>
                        <p><a class="two" href="#">交易管理</a></p>
                    </div>
                    <div class="yuansu yuansu002">
                        <a class="one" href="#"><img src="images/element02.jpg" alt="会员管理" border="0"></a>
                        <p><a class="two" href="#">会员管理</a></p>
                    </div>
                    <div class="yuansu yuansu003">
                        <a class="one" href="#"><img src="images/element03.jpg" alt="支付管理" border="0"></a>
                        <p><a class="two" href="#">支付管理</a></p>
                    </div>
                </div>
            </div>
            <div class="mokuai mokuai002">
                <p class="wdsp">我的商铺</p>
                <p>订单提醒：待发货订单（<span class="num">0</span>）未付款订单（<span class="num">12</span>）</p>
                <div class="smile">
                    <div class="yuansu yuansu001">
                        <a class="one" href="#"><img src="images/element01.jpg" alt="交易管理" border="0"></a>
                        <p><a class="two" href="#">交易管理</a></p>
                    </div>
                    <div class="yuansu yuansu002">
                        <a class="one" href="#"><img src="images/element02.jpg" alt="会员管理" border="0"></a>
                        <p><a class="two" href="#">会员管理</a></p>
                    </div>
                    <div class="yuansu yuansu003">
                        <a class="one" href="#"><img src="images/element03.jpg" alt="支付管理" border="0"></a>
                        <p><a class="two" href="#">支付管理</a></p>
                    </div>
                </div>
            </div>
            <div class="mokuai mokuai003">
                <p class="wdsp">我的商铺</p>
                <p>订单提醒：待发货订单（<span class="num">0</span>）未付款订单（<span class="num">12</span>）</p>
                <div class="smile">
                    <div class="yuansu yuansu001">
                        <a class="one" href="#"><img src="images/element01.jpg" alt="交易管理" border="0"></a>
                        <p><a class="two" href="#">交易管理</a></p>
                    </div>
                    <div class="yuansu yuansu002">
                        <a class="one" href="#"><img src="images/element02.jpg" alt="会员管理" border="0"></a>
                        <p><a class="two" href="#">会员管理</a></p>
                    </div>
                    <div class="yuansu yuansu003">
                        <a class="one" href="#"><img src="images/element03.jpg" alt="支付管理" border="0"></a>
                        <p><a class="two" href="#">支付管理</a></p>
                    </div>
                </div>
            </div>
            <div class="mokuai mokuai004">
                <p class="wdsp">我的商铺</p>
                <p>订单提醒：待发货订单（<span class="num">0</span>）未付款订单（<span class="num">12</span>）</p>
                <div class="smile">
                    <div class="yuansu yuansu001">
                        <a class="one" href="#"><img src="images/element01.jpg" alt="交易管理" border="0"></a>
                        <p><a class="two" href="#">交易管理</a></p>
                    </div>
                    <div class="yuansu yuansu002">
                        <a class="one" href="#"><img src="images/element02.jpg" alt="会员管理" border="0"></a>
                        <p><a class="two" href="#">会员管理</a></p>
                    </div>
                    <div class="yuansu yuansu003">
                        <a class="one" href="#"><img src="images/element03.jpg" alt="支付管理" border="0"></a>
                        <p><a class="two" href="#">支付管理</a></p>
                    </div>
                </div>
            </div>
            <div class="mokuai mokuai005">
                <p class="wdsp">我的商铺</p>
                <p>订单提醒：待发货订单（<span class="num">0</span>）未付款订单（<span class="num">12</span>）</p>
                <div class="smile">
                    <div class="yuansu yuansu001">
                        <a class="one" href="#"><img src="images/element01.jpg" alt="交易管理" border="0"></a>
                        <p><a class="two" href="#">交易管理</a></p>
                    </div>
                    <div class="yuansu yuansu002">
                        <a class="one" href="#"><img src="images/element02.jpg" alt="会员管理" border="0"></a>
                        <p><a class="two" href="#">会员管理</a></p>
                    </div>
                    <div class="yuansu yuansu003">
                        <a class="one" href="#"><img src="images/element03.jpg" alt="支付管理" border="0"></a>
                        <p><a class="two" href="#">支付管理</a></p>
                    </div>
                </div>
            </div>
            <div class="mokuai mokuai006">
                <p class="wdsp">我的商铺</p>
                <p>订单提醒：待发货订单（<span class="num">0</span>）未付款订单（<span class="num">12</span>）</p>
                <div class="smile">
                    <div class="yuansu yuansu001">
                        <a class="one" href="#"><img src="images/element01.jpg" alt="交易管理" border="0"></a>
                        <p><a class="two" href="#">交易管理</a></p>
                    </div>
                    <div class="yuansu yuansu002">
                        <a class="one" href="#"><img src="images/element02.jpg" alt="会员管理" border="0"></a>
                        <p><a class="two" href="#">会员管理</a></p>
                    </div>
                    <div class="yuansu yuansu003">
                        <a class="one" href="#"><img src="images/element03.jpg" alt="支付管理" border="0"></a>
                        <p><a class="two" href="#">支付管理</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>