<div class="jhw-panel index-main" style="overflow-y: auto;">
    <div class="main">
        <div class="module01">
            <div class="bodyContTitle">
                <span class="qiehuan001">网站做好后怎么办？</span><span class="qiehuan003">我的消息</span><span class="qiehuan002">功能更新</span>
            </div>
            <div class="bodyContContent bodyContContent01">
                <div class="notice notice001">
                    <p class="time">流量提升</p>

                    <p class="biaoti">如何提升网站的访问量？</p>

                    <p class="content">首先网站是要先给“机器”看（搜索引擎），网站还要有500个以上SEO功能……</p>

                    <p align="right"><a href="http://www.jihui88.com/html/201410201413794559293temp_0.html"
                                        target="_blank">>了解详情</a></p>
                </div>
                <div class="notice notice002">
                    <p class="time">询盘转化</p>

                    <p class="biaoti">如何提升网站的转化率？</p>

                    <p class="content">目标客户来到你的网站以后，凭什么留住客户，凭什么让客户主动来联系你？</p>

                    <p align="right"><a href="http://www.jihui88.com/html/201410201413796767931temp_0.html"
                                        target="_blank">>了解详情</a></p>
                </div>
                <div class="notice notice003">
                    <p class="time">检测优化</p>

                    <p class="biaoti">如何检测优化数据，并分析</p>

                    <p class="content">网站推广不是一劳永逸的，需要进行各种优化数据分析，并加以调整网站内容……</p>

                    <p align="right"><a href="http://www.jihui88.com/html/201410201413797752176temp_0.html"
                                        target="_blank">>了解详情</a></p>
                </div>
            </div>
            <div class="bodyContContent bodyContContent03">
                <div class="left" style="width: 48%;margin-right: 2%;">
                    <a href="http://www.ykzbrcw.com/zpj/pc/" target="_blank"> <img src="images/my_message.jpg" height="160"></a>
                </div>
                <ul class="left" style="width: 46%;margin-left: 2%;background: #fff;">
                    <li class="bui-grid-row-even _item_el_" style="height: 32px; line-height: 32px;"><a href="http://www.ykzbrcw.com/zpj/pc/" target="_blank">
                        &nbsp;&nbsp;<span
                            class="x-caret x-caret-left"></span>&nbsp;&nbsp;双11永康招聘会启动</a><br>
                    </li>
                    <li class="bui-grid-row-even _item_el_" style="height: 32px; line-height: 32px;"><a target="_blank"
                            href="http://www.jihui88.com/html/201412301419916591644temp_0.html">&nbsp;&nbsp;<span
                            class="x-caret x-caret-left"></span>&nbsp;&nbsp;中国门业首届互联网高峰论坛隆重召开</a><br>
                    </li>
                    <li class="bui-grid-row-even _item_el_" style="height: 32px; line-height: 32px;"><a target="_blank"
                            href="http://www.jihui88.com/html/201412191418973495295temp_0.html">&nbsp;&nbsp;<span
                            class="x-caret x-caret-left"></span>&nbsp;&nbsp;真正的产品运营每天工作是哪些？</a><br>
                    </li>
                    <li class="bui-grid-row-even _item_el_" style="height: 32px; line-height: 32px;"><a target="_blank"
                            href="http://www.jihui88.com/html/201412181418866813302temp_0.html">&nbsp;&nbsp;<span
                            class="x-caret x-caret-left"></span>&nbsp;&nbsp;【未来】Wi-Fi，要出局了？</a><br>
                    </li>
                    <li class="bui-grid-row-even _item_el_" style="height: 32px; line-height: 32px;"><a target="_blank"
                            href="http://www.jihui88.com/html/201412031417577125049temp_0.html">&nbsp;&nbsp;<span
                            class="x-caret x-caret-left"></span>&nbsp;&nbsp;你不懂这些，你就不懂营销型网站建设</a><br>
                    </li>
                </ul>

            </div>
            <ul class="bodyContContent bodyContContent02 update">
            </ul>
        </div>
        <div class="module02">
            <div class="mokuai mokuai001">
                <img src="images/kehu.jpg" alt="机汇网" border="0">

                <p class="nihao">{{user.username}}，您好！</p>

                <div class="jhwhy">当前版本：{{user.userType}}</div>
                <p>到期时间：{{user.pcSitePayTime}}</p>

                <p><a href="#/user">用户资料</a> / <a href="#/enterprise">公司资料</a> / <a href="#/technical">技术实力</a>/ <a href="#/certificate">公司证书</a></p>
            </div>
            <div class="mokuai mokuai002">
                <p>发布产品 <a href="#/product" class="num">{{index.product}}</a> 条 发布新闻 <a href="#/news" class="num">{{index.news}}</a>
                    条</p>

                <p>订单数 <span class="num"><a href="#/shop" class="num">{{index.order}}</a></span> 个 未读留言<a class="num"
                                                                                                          href="#/message">{{index.noReaderMsg}}</a>条
                </p>
            </div>
            <div class="mokuai mokuai003">
                <a class="gongju" href="#/tool"><img src="images/tool.jpg" alt="机汇网" border="0"></a>

                <p class="one"><a href="#/tool">我的工具</a></p>

                <p>生成二维码、SEO提交等</p>
                <a class="two index-btn" href="#/shop">体验新功能</a>
            </div>
            <div class="mokuai mokuai004">
                <div><a href="http://www.jihui88.com/abbcc_cpsy.html"><img src="images/webset.jpg" alt="机汇网" border="0"></a></div>
                <a class="two index-btn" href="http://www.jihui88.com/abbcc_cpsy.html" target="_blank">所有版本</a>
            </div>
        </div>
        <div class="module03">
            <div class="mokuai mokuai001" onclick="window.location.href ='#/message'">
                <span class="num">{{index.noReaderMsg}}</span>

                <p>未读消息</p>

                <div class="ckxq ckxq01">查看详情</div>
            </div>
            <div class="mokuai mokuai002" onclick="window.location.href ='#/product'">
                <span class="num">{{index.product}}</span>

                <p>发布产品</p>

                <div class="ckxq ckxq02">查看详情</div>
            </div>
            <div class="mokuai mokuai003" onclick="window.location.href ='#/news'">
                <span class="num">{{index.news}}</span>

                <p>发布新闻</p>

                <div class="ckxq ckxq03">查看详情</div>
            </div>
            <div class="mokuai mokuai004" onclick="window.location.href ='#/shop'">
                <span class="num">{{index.order}}</span>

                <p>我的订单</p>

                <div class="ckxq ckxq04">查看详情</div>
            </div>
        </div>
        <div class="module04">
            <!--<div class="mokuai mokuai001">
                <p class="wdsp">我的商铺<a href="#"><img src="images/delete.jpg"></a></p>

                <p>订单提醒：待发货订单（<a href="#/shop/delivery_no_send" class="num">{{index.order_unshipped}}</a>）未付款订单（<a
                        href="#/shop/delivery_no_paid"
                        class="num">{{index.order_unpaid}}</a>）</p>

                <div class="smile">
                    <div class="yuansu yuansu001">
                        <a class="one" href="#/shop">
                            <div class="yuansu-container">
                                <div class="yuansu001-div">&nbsp;</div>
                                <div class="yuansu001-div-back">&nbsp;</div>
                            </div>
                        </a>

                        <p><a class="two" href="#/shop">订单管理</a></p>
                    </div>
                    <div class="yuansu yuansu002">
                        <a class="one" href="#/member"><img src="images/element02.jpg" alt="会员管理" border="0"></a>

                        <p><a class="two" href="#/member">会员管理</a></p>
                    </div>
                    <div class="yuansu yuansu003">
                        <a class="one" href="#/shop/pay_type"><img src="images/element03.jpg" alt="支付管理" border="0"></a>

                        <p><a class="two" href="#/shop/pay_type">支付管理</a></p>
                    </div>
                </div>
            </div>
            <div class="mokuai mokuai002 liuyan">
                <p class="wdsp">留言管理<a href="#"><img src="images/delete.jpg"></a></p>

                <p>留言提醒：未读留言（<a href="#/message">{{index.noReaderMsg}}</a>）</p>

                &lt;!&ndash;<p class="lynr"><a href="#">豆浆机多少一台？请尽快回复。</a></p>

                <p class="lynr"><a href="#">豆浆机多少一台？请尽快回复。</a></p>

                <p class="lynr"><a href="#">豆浆机多少一台？请尽快回复。</a></p>&ndash;&gt;
            </div>
            <div class="mokuai mokuai002 liuyan">
                <p class="wdsp">在线留言<a href="#"><img src="images/delete.jpg"></a> <label
                        style="margin-left: 97px; color: #4D4D4D;"><input type="checkbox"/>提交给管理员</label></p>

                <p>发送给：<input type="text" style="width: 53px;height: 20px;line-height:20px;border:1px solid #CECECE;"/>
                    主题：<input type="text" style="width: 80px;height: 20px;line-height:20px;border:1px solid #CECECE;">
                </p>

                <p>内&nbsp;&nbsp;&nbsp;容：<textarea
                        style="width: 200px;height: 40px;border:1px solid #CECECE;"></textarea></p>
            </div>-->
        </div>
    </div>
</div>