<div class="jhw-panel">
    <div class="main">
        <div class="module01">
            <div class="bodyContTitle"><span class="zxgg">最新公告</span><span class="czzn">操作指南</span></div>
            <div class="bodyContContent bodyContContent01">最新公告的内容</div>
            <div class="bodyContContent bodyContContent02">操作指南的内容</div>
        </div>
        <div class="module02" onclick="window.location.href ='#/message'">
            ssssss
        </div>
        <div class="module03">
            <div class="mokuai mokuai001" onclick="window.location.href ='#/message'"><span class="num">12</span><p>未读消息</p><div class="ckxq ckxq01">查看详情</div></div>
            <div class="mokuai mokuai002" onclick="window.location.href ='#/product'"><span class="num">12</span><p>发布产品</p><div class="ckxq ckxq02">查看详情</div></div>
            <div class="mokuai mokuai003" onclick="window.location.href ='#/news'"><span class="num">12</span><p>发布新闻</p><div class="ckxq ckxq03">查看详情</div></div>
            <div class="mokuai mokuai004" onclick="window.location.href ='#/album'"><span class="num">12</span><p>上传图片</p><div class="ckxq ckxq04">查看详情</div></div>
        </div>
        <div class="module04">
            ssssss
        </div>
    </div>
</div>