<div class="cate-grid gird-checkbox" style="margin-right:20px;">
    <div class="cate-grid-cell-inner">
        <div class="bui-grid-checkBox-container">
            <span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
        </div>
    </div>
</div>


<div class="cate-grid gird-2 ">
    <div class="cate-grid-cell-inner">
        {{#compare isroot '===' '01'}}
        <div class="x-grid-caret">
            <span class="x-caret x-caret-middle x-caret-left x-caret-left-middle pointer node-collapse {{#compare children.length '===' 0}}x-caret-left-gray{{/compare}}"></span>
        </div>
        {{/compare}}
    </div>
</div>


<div class="cate-grid grid-td-cate-name jhw-category">
    <div class="cate-grid-cell-inner">
        {{#compare isroot '!==' '01'}}
            {{#compare children.length '!==' 0}}&nbsp;
            <div style="width:17px;margin-left:-5px;display:inline-block;"><span class="x-caret x-caret-middle x-caret-left x-caret-left-middle pointer node-collapse"></span></div>
            {{/compare}}
        {{/compare}}
        {{#compare isroot '!==' '01'}}
            {{#compare ../children.length '===' 0}}
                <span class="x-caret x-caret-middle x-caret-sub cate-{{grade}} x-caret-left-middle pointer node-collapse "></span>
            {{/compare}}
        {{/compare}}
        <input name="name" value="{{name}}" type="text" class="input-middle pro-cate-name">
    </div>
</div>

<div class="cate-grid grid-td-picture">
    <div class="cate-grid-cell-inner">
        <span class="x-icon x-icon-small x-icon-info pointer" style="vertical-align: middle;">
            <i class="icon icon-white icon-plus-mini pointer"></i>
        </span> 添加图片
    </div>
</div>
<div class="cate-grid grid-td-time">
    <div class="cate-grid-cell-inner">
        {{dateFormat addTime 'yyyy-MM-dd'}}
    </div>
</div>
<div class="cate-grid grid-td-attributes">
    <div class="cate-grid-cell-inner">
        <a href="#/attributes?id={{categoryId}}" class="btn-attributes">属性设置</a>
    </div>
</div>
<div class="cate-grid grid-td-display">
    <div class="cate-grid-cell-inner">
        <a href="javascript:;" class="btn-display">{{#compare isdisplay '==' '1'}}已显示{{else}}已隐藏{{/compare}}</a>
    </div>
</div>
<div class="cate-grid grid-td-move">
    <div class="cate-grid-cell-inner">
        <span class="x-icon x-icon-small x-icon-info move-up pointer" style="vertical-align: middle;"
              title="上移 (若移动到上一页， 可以试着更改每页显示个数)">
            <i class="icon icon-white icon-arrow-up pointer"></i>
        </span>&nbsp;<input type="text" class="control-text input-sort" value="{{sort}}">
        <span class="x-icon x-icon-small x-icon-info move-down pointer"
              style="vertical-align: middle;" title="下移 (若移动到下一页， 可以试着更改每页显示个数)"><i
                class="icon icon-white icon-arrow-down pointer"></i></span>
    </div>
</div>

<div class="cate-grid grid-td-handle">
    <div class="cate-grid-cell-inner">
        <button type="button" class="button button-info button-mini edit"><i class="icon-white icon-edit"></i>修改
        </button>
        <button type="button" class="button button-danger button-mini delete"><i class="icon-white icon-trash"></i>删除
        </button>
    </div>
</div>
<div class="cate-grid">
    <div class="cate-grid-cell-inner">
        <!--isroot:{{isroot}};grade:{{grade}};dx: {{dx}} belongId:{{belongId}}-->
    </div>
</div>
<ul class="cate-{{grade}}-ul  node-tree" style="clear:both;"> </ul>
