<div class="cate-grid gird-checkbox" style="margin-right:20px;">
    <div class="cate-grid-cell-inner">
        <div class="bui-grid-checkBox-container">
            <span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
        </div>
    </div>
</div>

<div class="grid-td-tree">
    <div class="cate-grid gird-{{level}} ">
        <div class="cate-grid-cell-inner">
            {{#compare isroot '===' '01'}}
            <div class="x-grid-caret">
                <span class="x-caret x-caret-middle x-caret-left x-caret-left-middle pointer node-collapse {{#compare children.length '===' 0}}x-caret-left-gray{{/compare}}"></span>
            </div>
            {{/compare}}
        </div>
    </div>
    <div class="cate-grid grid-td-cate-name jhw-category category-div-{{level}}">
        <div class="cate-grid-cell-inner">
            {{#compare isroot '!==' '01'}}
            {{#compare children.length '!==' 0}}&nbsp;
            <div class="tree-arrow"><span
                    class="x-caret x-caret-middle x-caret-left x-caret-left-middle pointer node-collapse"></span></div>
            {{/compare}}
            {{/compare}}
            {{#compare isroot '!==' '01'}}
            {{#compare ../children.length '===' 0}}
            <span class="x-caret x-caret-middle x-caret-sub cate-{{grade}} x-caret-left-middle pointer node-collapse "></span>
            {{/compare}}
            {{/compare}}
            <input name="name" value="{{name}}" type="text" class="input-middle pro-cate-name">
        </div>
    </div>
</div>


<div class="cate-grid grid-td-picture">
    <div class="cate-grid-cell-inner">
        <a href="javascript:;" class="edit-image">
        {{#isEmpty image}}
            <span class="x-icon x-icon-small x-icon-info pointer" style="vertical-align: middle;">
                <i class="icon icon-white icon-plus-mini pointer"></i>
            </span> 添加图片
            {{else}}
            <span class="x-icon x-icon-small x-icon-info pointer" style="vertical-align: middle;">
                <i class="icon icon-white icon-picture pointer"></i>
            </span> 修改图片
        {{/isEmpty}}
        </a>
    </div>
</div>
<div class="cate-grid grid-td-time">
    <div class="cate-grid-cell-inner">
        {{dateFormat addTime 'yyyy-MM-dd'}}
    </div>
</div>
<div class="cate-grid grid-td-attributes">
    <div class="cate-grid-cell-inner">
        <a href="#/attributes?categoryId={{categoryId}}" class="btn-attributes">产品属性设置</a>
    </div>
</div>
<div class="cate-grid grid-td-display">
    <div class="cate-grid-cell-inner">
        <a href="javascript:;" class="btn-display">{{#compare isdisplay '==' '1'}}已显示{{else}}已隐藏{{/compare}}</a>
    </div>
</div>
<div class="cate-grid grid-td-move">
    <div class="cate-grid-cell-inner">
        <span class="x-icon x-icon-small x-icon-info move-up pointer"
              title="上移 (若移动到上一页， 可以试着更改每页显示个数)">
            <i class="icon icon-white icon-arrow-up pointer"></i>
        </span>&nbsp;<input type="text" class="control-text input-sort" value="{{sort}}">
        <span class="x-icon x-icon-small x-icon-info move-down pointer"
               title="下移 (若移动到下一页， 可以试着更改每页显示个数)"><i
                class="icon icon-white icon-arrow-down pointer"></i></span>
    </div>
</div>

<div class="cate-grid grid-td-handle">
    <div class="cate-grid-cell-inner">
        <button type="button" class="button button-gray button-mini edit"><i class="icon-edit"></i>修改
        </button>
        <button type="button" class="button button-gray button-mini delete"><i class="icon-trash"></i>删除
        </button>
        <button type="button" class="button button-gray button-mini btn-more" title="更多选项"><i class="icon-chevron-down"></i>
        </button>
        <div class="moreOption" style="display:none;">
            <button type="button" class="button button-gray button-mini seo"><i class="icon-zoom-in"></i>seo
            </button>
        </div>
    </div>
</div>
<div class="cate-grid">
    <div class="cate-grid-cell-inner">
        <!--isroot:{{isroot}};grade:{{grade}};dx: {{dx}} belongId:{{belongId}}-->
    </div>
</div>
<ul class="cate-{{grade}}-ul  node-tree" style="clear:both;"></ul>
