<form id="J_Form" action="" class="form-horizontal">
<div id="grid" class="jhw-panel">
<div class="bui-grid bui-simple-list bui-grid-width bui-grid-hover bui-simple-list-hover">
<div class="bui-grid-body-detail">
<div id="product-add-inner">
<div id="tab"></div>
<div id="panel" class="" style="padding:10px;">
<!--常规-->
<div>
<div class="span12">
    <div class="control-group">
        <label class="control-label"><s>*</s>公司名称：</label>

        <div class="controls">
            <input id="model-name" name="name" value="{{name}}" type="text"
                   class="input-normal"
                   data-rules="{required : true}"
                   data-tip='{"text":"请输入公司名称","iconCls":"icon icon-pencil"}'>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            主营行业:
        </label>

        <div class="controls">
            <div id="s2">
                <input value="{{industry}}" class="input-normal" id="model-industry"
                       type="hidden"/>
            </div>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            企业类型:
        </label>

        <div class="controls">
            <div id="s3">
                <input value="{{type}}" id="model-type" class="input-normal" type="hidden"/>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            <s>*</s>经营地点:
        </label>

        <div class="controls">
            <input value="{{address}}" id="model-address" type="hidden" data-rules="{required : true}"
                   data-tip='{"text":"请输入经营地点","iconCls":"icon icon-pencil"}'/>

            <div id="district-container" class="enterprise-address">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            <s>*</s>法人代表:
        </label>

        <div class="controls">
            <input id="model-legalPre" value="{{legalPre}}" class="input-normal" type="text"
                   data-rules="{required : true}"
                   data-tip='{"text":"请输入法人代表","iconCls":"icon icon-pencil"}'/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            <s>*</s>员工人数:
        </label>

        <div class="controls">
            <input value="{{staffSum}}" id="model-staffSum" class="input-normal" type="text"
                   data-rules="{required : true}"
                   data-tip='{"text":"请输入员工人数","iconCls":"icon icon-pencil"}'/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">注册资本</label>

        <div class="controls">
            <input value="{{registeredCapital}}" id="model-registeredCapital" class="input-normal" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="">
            主要市场:
        </label>

        <div class="controls">
            <input value="{{market}}" id="model-market" class="input-normal" type="text"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            年进口额:
        </label>

        <div class="controls">
            <input value="{{annualImport}}" id="model-annualImport" class="input-normal" type="text"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            帐 号:
        </label>

        <div class="controls">
            <input value="{{bankAccount}}" id="model-bankAccount" class="input-normal" type="text"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            研发部门人数:
        </label>

        <div class="controls">
            <input value="{{rdSum}}" id="model-rdSum" class="input-normal" type="text"/>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            厂房面积:
        </label>

        <div class="controls">
            <input value="{{factoryArea}}" id="model-factoryArea" class="input-normal" type="text"/>
            平方米
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            管理体系认证:
        </label>

        <div class="controls">
            <input value="{{qasyscert}}" id="model-qasyscert" class="input-normal" type="text"/>
        </div>
    </div>
</div>
<div class="span12">
    <div class="control-group">
        <label class="control-label" for="">
            <s>*</s>主营产品:
        </label>

        <div class="controls">
            <input id="model-mainBusiness" value="{{mainBusiness}}" class="input-normal" data-rules="{required : true}"
                   data-tip='{"text":"请输入主营产品","iconCls":"icon icon-pencil"}'
                   type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="">
            经营模式:
        </label>

        <div class="controls">
            <div id="s1">
                <input value="{{businessType}}" id="model-businessType" type="hidden"/>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            公司注册地:
        </label>

        <div class="controls">
            <input value="{{dist}}" id="model-dist" class="input-normal" type="text"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            <s>*</s>成立时间:
        </label>

        <div class="controls">
            <div id="s4">
                <input id="model-regTime" name="regTime" value="{{dateFormat regTime 'yyyy-MM-dd'}}" type="text"
                       data-rules="{required : true}"
                       data-tip='{"text":"请输入成立时间","iconCls":"icon icon-pencil"}'
                       class="calendar input-normal">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">年营业额:</label>

        <div class="controls">
            <input value="{{annualTurnover}}" id="model-annualTurnover" class="input-normal" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="">
            经营品牌:
        </label>

        <div class="controls">
            <input value="{{brand}}" id="model-brand" class="input-normal" type="text"/>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            主要客户群:
        </label>

        <div class="controls">
            <input value="{{customer}}" id="model-customer" class="input-normal" type="text"/>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            年出口额:
        </label>

        <div class="controls">
            <input value="{{annualExport}}" id="model-annualExport" class="input-normal" type="text"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            开户银行:
        </label>

        <div class="controls">
            <input value="{{bank}}" id="model-bank" class="input-normal" type="text"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            OEM:
        </label>

        <div class="controls">
            <div id="s5">
                <input value="{{oem}}" id="model-oem" class="input-normal" type="hidden"/>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            月产量:
        </label>

        <div class="controls">
            <input value="{{monthProd}}" id="model-monthProd" class="input-normal" type="text"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            质量控制:
        </label>

        <div class="controls">
            <input value="{{qualityControl}}" id="model-qualityControl" class="input-normal" type="text"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="">
            icp备案号:
        </label>

        <div class="controls">
            <input value="{{icp}}" id="model-icp" class="input-normal" type="text"/>
        </div>
    </div>
</div>
</div>
<!--公司简介-->
<div class="hide">
    <div class="control-group">
        <label class="control-label">核心关键字：</label>

        <div class="controls" style="position:relative;">
            <input value="{{key}}" id="model-key" class="input-normal" type="text"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="">
            <s>*</s>公司简介:
        </label>

        <div class="controls control-row-auto">
            <textarea id="model-edesc" name="edesc" class="ckeditor edesc text" rows="12" data-rules="{required : true}"
                      data-tip='{"text":"请输入公司简介","iconCls":"icon icon-pencil"}'
                      cols="95" style="width: 100%;height:250px;">{{edesc}}</textarea>
        </div>
    </div>
</div>

</div>
</div>
</div>
<div class="bui-grid-footer">
    <div class="row" style="display:block;">
        <div class="form-actions span13 offset3">
            <button id="submit" type="button" class="button button-primary">保存</button>
            <button id="btn-back" type="button" class="button back">返回</button>
        </div>
    </div>
</div>
</div>
</div>
</form>