<form id="J_Form_login" action="" style="overflow:hidden;height: 100%;" class="form-horizontal">
    <div id="grid" class="jhw-panel">
        <div class="bui-grid bui-simple-list bui-grid-width bui-grid-hover bui-simple-list-hover">
            <div class="bui-grid-body-detail">
                <div id="product-add-inner">

                    <div id="panel" class="" style="padding:10px;">
                        <!--常规-->
                        <div class="control-group">
                            <label class="control-label" for="">性别：</label>

                            <div class="controls">
                                <div id="s1">
                                    <input id="model-sex" name="sex" type="hidden" value="{{sex}}"/>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">姓名：</label>

                            <div class="controls">
                                <input id="model-name" name="name" value="{{name}}" type="text" class="input-large">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">
                                职务：
                            </label>

                            <div class="controls">
                                <input id="model-position" value="{{position}}" class="input-large" type="text"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="">
                                手机：
                            </label>

                            <div class="controls">
                                <input id="model-cellphone" value="{{cellphone}}" class="input-large" type="text"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="">
                                电话：
                            </label>

                            <div class="controls">
                                <input id="model-phone" value="{{phone}}" class="input-large" type="text"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="">
                                传真：
                            </label>

                            <div class="controls">
                                <input value="{{fax}}" id="model-fax" class="input-large" type="text"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="">
                                地址：
                            </label>

                            <div class="controls">
                                <input id="model-address" value="{{address}}" class="input-large" type="text"/>
                                <input type="button" value="地图定位" class="button button-gray location" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="">
                                Email:
                            </label>

                            <div class="controls">
                                {{email}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="">
                                QQ:
                            </label>

                            <div class="controls">
                                <input id="model-qq" value="{{qq}}" class="input-large" type="text"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="">
                                MSN:
                            </label>

                            <div class="controls">
                                <input value="{{msn}}" id="model-msn" class="input-large" type="text"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="">
                                邮编：
                            </label>

                            <div class="controls">
                                <input value="{{zipcode}}" id="model-zipcode" class="input-large" type="text"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="">
                                公司主页：
                            </label>

                            <div class="controls">
                                <input value="{{url}}" id="model-url" class="input-large" type="text"/>
                            </div>
                        </div>
                        <div id="user-append">
                        </div>
                        <div class="control-group">
                            <label class="control-label">&nbsp;</label>

                            <div class="controls">
                                <div class="attributes-btn">
                                    <span class="option-add x-icon x-icon-small x-icon-success">+</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="bui-grid-footer">
                <div class="row" style="display:block;">
                    <div class="form-actions span13 offset3">
                        <button id="submit" type="button" class="button button-primary">保存</button>
                        <button id="btn-back" type="button" class="button back"><a href="#/index">返回</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>