
<div class="bui-grid-header-container">
    <div class="bui-grid-header">
        <table cellspacing="0" class="bui-grid-table" cellpadding="0">
            <thead>
            <tr>
                <th class="bui-grid-hd grid-td-checkbox">
                    <div class="bui-grid-hd-inner">
                        <div class="bui-grid-checkBox-container"><input id="toggle-all" type="checkbox" /></div>
                    </div>
                </th>
                <th class="bui-grid-hd grid-td-col1">
                    <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">标题</span><span
                            class="bui-grid-sort-icon">&nbsp;</span></div>
                </th>
                <th class="bui-grid-hd grid-td-col2">
                    <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">操作</span><span
                            class="bui-grid-sort-icon">&nbsp;</span></div>
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="bui-grid-body">
    <table cellspacing="0" cellpadding="0" class="bui-grid-table">
        <tbody id="member-list-ul">
        <tr>
            <td class="bui-grid-cell grid-td-checkbox">
                <div class="bui-grid-cell-inner">
                    <div class="bui-grid-checkBox-container"><span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
                    </div>
                </div>
            </td>
            <td class="bui-grid-cell grid-td-col1">
                <div class="bui-grid-cell-inner"><span class="username" title="{{username}}">[{{add dx 1}}] {{username}}</span></div>
            </td>
            <td class="bui-grid-cell grid-td-col2">
                <div class="bui-grid-cell-inner">
        <span class="bui-grid-cell-text ">
            <a href="javascript:;" class="add">添加</a>丨
            <a href="javascript:;" class="edit">修改</a>丨
            <a href="javascript:;" class="delete">删除</a>
        </span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div  class="bui-grid-bbar hide"></div>
<div id="pagination-container"></div>