<div id="member-add-inner">
<form id="J_Form" action="" class="form-horizontal">
<div id="tab"></div>
<div id="panel" class="" style="padding:10px;">
<!--会员编辑-->
<div>



    <div class="control-group">
        <label class="control-label"><s>*</s>用户名：</label>
        <div class="controls">
            <input id="model-username" name="username" value="{{username}}" type="text" class="input-large"
                   data-rules="{required : true}"
                   data-tip='{"text":"请输入用户名","iconCls":"icon icon-user"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><s>*</s>密 码：</label>
        <div class="controls">
            <input id="model-password" name="password" value="{{password}}" type="password" class="input-large"
                   data-rules="{required : true}"
                   data-tip='{"text":"请输入密码","iconCls":"icon icon-lock"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><s>*</s>确认密码：</label>
        <div class="controls">
            <input id="model-rePassword" name="password" value="{{password}}" type="password" class="input-large"
                   data-rules="{required : true}"
                   data-tip='{"text":"请再次输入密码","iconCls":"icon icon-lock"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><s>*</s>积分：</label>
        <div class="controls">
            <input id="model-point" name="point" value="{{point}}" type="text" class="input-large"
                   data-rules="{required : true}"
                   data-tip='{"text":"请输入积分","iconCls":"icon icon-pencil"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><s>*</s>预存款：</label>
        <div class="controls">
            <input id="model-deposit" name="deposit" value="{{deposit}}" type="text" class="input-large"
                   data-rules="{required : true}"
                   data-tip='{"text":"请输入预存款","iconCls":"icon icon-pencil"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><s>*</s>会员等级：</label>
        <div class="controls">
            <div id="s1">
                <input type="hidden" id="model-memberRank" value="{{memberRank.name}}" name="memberRank" data-rules="{required : true}">
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><s>*</s>是否启用：</label>
        <div class="controls">
            <div id="s2">
                <label><input type="radio" name="isAccountEnabled" value="01" {{#compare isAccountEnabled '===' '00'}}checked{{/compare}}>是</label>
                <label><input type="radio" name="isAccountEnabled" value="00" {{#compare isAccountEnabled '===' '01'}}checked{{/compare}}>否</label>
            </div>
        </div>
    </div>
    <BR>

    <div class="control-group">
        <label class="control-label">注册时间：</label>
        <div class="controls">
            <input id="model-addTime" name="addTime" value="{{addTime}}" type="text" class="calendar"
                   data-tip='{"text":"请输入时间"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">注册IP：</label>
        <div class="controls">
            <input id="model-registerIp" name="registerIp" value="{{registerIp}}" type="text" class="input-large"
                   data-tip='{"text":"请输入注册IP","iconCls":"icon icon-pencil"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">手机：</label>
        <div class="controls">
            <input id="model-cellphone" name="cellphone" value="{{cellphone}}" type="text" class="input-large"
                   data-tip='{"text":"请输入手机","iconCls":"icon icon-pencil"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">电话：</label>
        <div class="controls">
            <input id="model-phone" name="phone" value="{{phone}}" type="text" class="input-large"
                   data-tip='{"text":"请输入电话","iconCls":"icon icon-pencil"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">联系地址：</label>
        <div class="controls">
            <input id="model-add" name="add" value="{{add}}" type="text" class="input-large"
                   data-tip='{"text":"请输入联系地址","iconCls":"icon icon-pencil"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">联系QQ：</label>
        <div class="controls">
            <input id="model-qq" name="qq" value="{{qq}}" type="text" class="input-large"
                   data-tip='{"text":"请输入联系QQ","iconCls":"icon icon-pencil"}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><s>*</s>性别：</label>
        <div class="controls">
            <div id="s3">
                <label><input type="radio" name="isAccountLocked" value="01" {{#compare isAccountLocked '===' '00'}}checked{{/compare}}>男</label>
                <label><input type="radio" name="isAccountLocked" value="00" {{#compare isAccountLocked '===' '01'}}checked{{/compare}}>女</label>
            </div>
        </div>
    </div>

    <div class="row actions-bar hide" >
        <div class="form-actions span13 offset3">
            <button id="submit" type="button" class="button button-primary">保存</button>
            <button id="reset" type="reset" class="button">重置</button>
            <button id="black" type="reset" class="button">返回</button>
        </div>
    </div>


</div>

</div>
</form>
</div>