<td class="bui-grid-cell grid-td-checkbox">
    <div class="bui-grid-cell-inner">
        <div class="bui-grid-checkBox-container"><span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
        </div>
    </div>
</td>
<td class="x-grid-rownumber  bui-grid-cell grid-td-grid-hd1" data-column-id="grid-hd1" data-column-field="">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text " title="">{{add dx 1}}</span></div>
</td>

<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner"><span class="">{{username}}</span></div>
</td>

<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner">
       <span class="">{{memberRank.name}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner">
        <span class="">{{email}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner">
        <span class="">{{dateFormat addTime 'yyyy-MM-dd'}}</span>
    </div>
</td>


<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner">
        <span  class="">{{#compare isAccountEnabled '==' '01'}}不正常{{else}}正常{{/compare}}</span>
    </div>
</td>

<td class="bui-grid-cell grid-td-handle">
    <div class="bui-grid-cell-inner">
        <button type="button" class="button button-info button-mini edit"><i class="icon-white icon-edit"></i>修改
        </button>
        <button type="button" class="button button-danger button-mini delete"><i class="icon-white icon-trash"></i>删除
        </button>
    </div>
</td>