<tr>
    <td class="bui-grid-cell grid-td-checkbox">
        <div class="bui-grid-cell-inner">
            <div class="bui-grid-checkBox-container"><span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
            </div>
        </div>
    </td>

    <td class="bui-grid-cell grid-td-col1">
        <div class="bui-grid-cell-inner"><span class="name" title="{{name}}">[{{add dx 1}}] {{name}}</span></div>
    </td>
    <td class="bui-grid-cell grid-td-col1">
        <div class="bui-grid-cell-inner"><span class="preferentialScale" title="{{preferentialScale}}">[{{add dx 1}}] {{preferentialScale}}</span></div>
    </td>
    <td class="bui-grid-cell grid-td-col1">
        <div class="bui-grid-cell-inner"><span class="point" title="{{point}}">[{{add dx 1}}] {{point}}</span></div>
    </td>
    <td class="bui-grid-cell grid-td-col1">
        <div class="bui-grid-cell-inner"><span class="isDefault" title="{{isDefault}}">[{{add dx 1}}] {{isDefault}}</span></div>
    </td>

    <td class="bui-grid-cell grid-td-col2">
        <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text "><a href="javascript:;" class="edit">修改</a>丨<a
                href="javascript:;" class="delete">删除</a></span></div>
    </td>
</tr>