<div>
    <table cellspacing="0" class="bui-grid-table" cellpadding="0">
        <thead>
        <tr>
            <th class="bui-grid-hd gird-td-checkbox">
                <div class="bui-grid-hd-inner">
                    <div class="bui-grid-checkBox-container"><input id="toggle-all" type="checkbox" /></div>
                </div>
            </th>
            <th class="bui-grid-hd grid-td-col1">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">等級名称</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
            <th class="bui-grid-hd grid-td-col1">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">类型</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
            <th class="bui-grid-hd grid-td-col1">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">是否必填</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
            <th class="bui-grid-hd grid-td-col1">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">是否启用</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
            <th class="bui-grid-hd grid-td-col1">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">排序</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
            <th class="bui-grid-hd grid-td-col2">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">操作</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
        </tr>
        </thead>
    </table>
    <table cellspacing="0" class="bui-grid-table" cellpadding="0">
        <tbody>
        <tr>
            <td class="bui-grid-cell gird-td-checkbox">
                <div class="bui-grid-cell-inner">
                    <div class="bui-grid-checkBox-container"><span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
                    </div>
                </div>
            </td>

            <td class="bui-grid-cell grid-td-col1">
                <div class="bui-grid-cell-inner"><span class="name" title="{{name}}">[{{add dx 1}}] {{name}}</span></div>
            </td>
            <td class="bui-grid-cell grid-td-col1">
                <div class="bui-grid-cell-inner"><span class="preferentialScale" title="{{preferentialScale}}">[{{add dx 1}}] {{preferentialScale}}</span></div>
            </td>
            <td class="bui-grid-cell grid-td-col1">
                <div class="bui-grid-cell-inner"><span class="name" title="{{name}}">[{{add dx 1}}] {{name}}</span></div>
            </td>
            <td class="bui-grid-cell grid-td-col1">
                <div class="bui-grid-cell-inner"><span class="name" title="{{name}}">[{{add dx 1}}] {{name}}</span></div>
            </td>
            <td class="bui-grid-cell grid-td-col1">
                <div class="bui-grid-cell-inner"><span class="name" title="{{name}}">[{{add dx 1}}] {{name}}</span></div>
            </td>
            <td class="bui-grid-cell grid-td-col1">
                <div class="bui-grid-cell-inner"><span class="name" title="{{name}}">[{{add dx 1}}] {{name}}</span></div>
            </td>


            <td class="bui-grid-hd grid-td-col2">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">操作</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </td>
        </tr>
        </tbody>
    </table>

</div>