<div>
    <table cellspacing="0" class="bui-grid-table" cellpadding="0">
        <thead>
        <tr>
            <th class="bui-grid-hd grid-td-checkbox">
                <div class="bui-grid-hd-inner">
                    <div class="bui-grid-checkBox-container"><input id="toggle-all" type="checkbox" /></div>
                </div>
            </th>
            <th class="bui-grid-hd grid-td-col1">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">等級名称</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
            <th class="bui-grid-hd grid-td-col1">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">优惠百分比</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
            <th class="bui-grid-hd grid-td-col1">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">所需积分</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
            <th class="bui-grid-hd grid-td-col1">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">是否默认</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
            <th class="bui-grid-hd grid-td-col2">
                <div class="bui-grid-hd-inner"><span class="bui-grid-hd-title">操作</span><span
                        class="bui-grid-sort-icon">&nbsp;</span></div>
            </th>
        </tr>
        </thead>
    </table>
    <table cellspacing="0" class="bui-grid-table" cellpadding="0">
        <tbody id="member_rank_detail">

        </tbody>
    </table>

</div>