<td class="bui-grid-cell grid-td-checkbox">
    <div class="bui-grid-cell-inner">
        <div class="bui-grid-checkBox-container"><span class="x-grid-checkbox"><input class="toggle" type="checkbox" {{#if checked}}checked{{/if}}></span>
        </div>
    </div>
</td>
<td class="x-grid-rownumber  bui-grid-cell grid-td-grid-hd1" data-column-id="grid-hd1" data-column-field="">
    <div class="bui-grid-cell-inner"><span class="bui-grid-cell-text " title="">{{plus dx 1}}</span></div>
</td>

<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner"><span class="">{{name}}</span></div>
</td>

<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner">
       <span class="">{{parseInt preferentialScale}}%</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner">
        <span class="">{{point}}</span>
    </div>
</td>
<td class="bui-grid-cell grid-td-col1">
    <div class="bui-grid-cell-inner">
        <span class="">{{#compare isDefault '==' '01'}}
            <span class="x-icon x-icon-small x-icon-success"><i class="icon  icon-ok-mini icon-white"></i></span>{{else}}
            <span class="x-icon x-icon-small x-icon-error"><i class="icon  icon-remove-mini icon-white"></i></span>{{/compare}}
        </span>
    </div>
</td>

<td class="bui-grid-cell grid-td-handle">
    <div class="bui-grid-cell-inner">
        <button type="button" class="button button-info button-mini edit"><i class="icon-white icon-edit"></i>修改
        </button>
        <button type="button" class="button button-danger button-mini delete"><i class="icon-white icon-trash"></i>删除
        </button>
    </div>
</td>