<form id="J_Form" action="" class="form-horizontal">
<div class="bui-grid-body-detail">
<div id="invitation-view">
    <div class="phone-bg">
        <iframe id="iframepage" name="iframepage" allowtransparency="true" scrolling="auto"
                style=" margin-top:40px; margin-left:8px; height: 475px; width: 290px;  position: absolute"
                src="{{leafletUrl}}" frameborder="0"
                marginwidth="0"></iframe>
    </div>
</div>
<div id="invitation-handle">

<div id="tab"></div>
<div id="panel" class="" style="padding:10px;">
<!--主页设置-->
<div style="position:relative;">
    <div class="control-group">
        <label class="control-label">活动标题：</label>

        <div class="controls">
            <div id="title">
                <input value="{{title}}" name="model-title" id="model-title" type="text" class="input-large"/>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">活动手机：</label>
        <div class="controls">
           <input value="{{phone}}" name="model-phone" id="model-phone" type="text" class="input-large"/>
        </div>
    </div>
    <div id="qrcode" style="position:absolute;right: 0px;top: 0px;z-index: 800;"><img
            src="http://qr.liantu.com/api.php?w=250&text={{leafletUrl}}"/></div>
</div>
<div style="display:none;">
    <div class="row show-grid">
        <div class="span8 wwy_canvas_page">
            <span><img class="wwy-img" src="{{CONST 'PIC_URL'}}/{{picUrl picPath 6}}" ></span>
            <span><img class="wwy-img"  src="{{CONST 'PIC_URL'}}/{{picUrl picPath 6}}"></span>
            <span><img class="wwy-img" src="{{CONST 'PIC_URL'}}/{{picUrl picPath 6}}"></span>
            <span><img class="wwy-img" src="{{CONST 'PIC_URL'}}/{{picUrl picPath 6}}"></span>
        </div>
        <div class="span16 wwy_canvas_tools">
            <span><a href="javascript:;"><i class="icon-font"></i> 文本</a></span><span> <i class="icon-picture"></i><a href="javascript:;">图片</a></span>
            <div class="wwy_canvas">
                <div class="wwy_canvas_img">
                    <div ></div>
                </div>
            </div>
        </div>
    </div>


<style>
    .wwy_canvas_page {width:15%;float:left}
    .wwy_canvas {float:left;width:84%;}
    .wwy_canvas_page img{margin-bottom: 10px;width:100px;}
    .wwy_canvas_tools{height:55px}
    .wwy_canvas_tools span{width: 80px;
        display: inline-block;
        height: 35px;background: #f8f8f8;
        margin-right: 15px;
        line-height: 35px;
        text-align: center;}
    .wwy_canvas_img{width: 100%;
        background: #E8EFF7;margin-top: 20px;
        height: 100%;
        display: block;
        margin: 0;}
    .wwy_canvas_img div{background: #fff;
        display: inline-block;
        width: 90%;
        height: 350px;
        margin: 5%;}
</style>

</div>


</div>
</div>
</div>
<div class="bui-grid-footer">
    <div class="row" style="display:block;">
        <div class="form-actions span13 offset3">
            <button id="submit" type="button" class="button button-primary">保存</button>
            <button id="btn-back" type="button" class="button btn-back">返回</button>
        </div>
    </div>
</div>
</form>