<form id="J_Form" action="" class="form-horizontal">
<div class="bui-grid-body-detail">
<div id="invitation-view">
    <div class="phone-bg">
        <iframe id="iframepage" name="iframepage" allowtransparency="true" scrolling="auto"
                style=" margin-top:40px; margin-left:8px; height: 475px; width: 290px;  position: absolute"
                src="{{leafletUrl}}" frameborder="0"
                marginwidth="0"></iframe>
    </div>
</div>
<div id="invitation-handle">

<div id="tab"></div>
<div id="panel" class="" style="padding:10px;">
<!--主页设置-->
<div style="position:relative;">
    <div class="control-group">
        <label class="control-label">选择模板：</label>

        <div class="controls">
            <div id="titleTheme">
                <input value="{{titleTheme}}" name="model-titleTheme" id="model-titleTheme"
                       type="hidden"/>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">字 体：</label>

        <div class="controls">
            <div id="font">
                <input type="hidden" id="model-font" value="{{font}}" name="font">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">音　乐:：</label>

        <div class="controls">
            <div id="music">
                <input id="model-music" name="music" value="{{music}}" type="hidden">
            </div>
        </div>
    </div>
    <div class="control-group control-row-auto">
        <label class="control-label" for="">主标题：</label>

        <div class="controls">
            <textarea name="title" cols="20" rows="5" id="model-title"
                      style="width: 300px;height: 40px;">{{title}}</textarea>
        </div>
    </div>
    <div class="control-group control-row-auto">
        <label class="control-label" for="">副标题：</label>

        <div class="controls">
            <textarea name="title1" cols="20" rows="5" id="model-title1"
                      style="width: 300px;height: 40px;">{{title1}}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">封面图：</label>

        <div class="controls control-row-auto">
            <div id="picture-pick" style="width:600px;"></div>
        </div>
    </div>
    <div id="qrcode" style="position:absolute;right: 0px;top: 0px;z-index: 800;"><img
            src="http://qr.liantu.com/api.php?w=250&text={{wqturl}}"/></div>
</div>
<div style="display:none;">
    <div class="wwy_canvas_page" >
        <span><img class="wwy-img" src="{{CONST 'PIC_URL'}}/{{picUrl picPath 6}}" ></span>
        <span><img class="wwy-img"  src="{{CONST 'PIC_URL'}}/{{picUrl picPath 6}}"></span>
        <span><img class="wwy-img" src="{{CONST 'PIC_URL'}}/{{picUrl picPath 6}}"></span>
        <span><img class="wwy-img" src="{{CONST 'PIC_URL'}}/{{picUrl picPath 6}}"></span>
    </div>
    <div class="wwy_canvas">
    <div class="wwy_canvas_tools">
         <span><a href="">tools1</a></span><span><a href="">tools1</a></span><span><a href="">tools1</a></span>
    </div>
        <div class="wwy_canvas_img">
            <div ></div>
        </div>
    </div>


<style>
    .wwy_canvas_page {width:15%;float:left}
    .wwy_canvas {float:left;width:84%;}
    .wwy_canvas_page img{margin-bottom: 10px;width:70px;}
    .wwy_canvas_tools{height:55px}
    .wwy_canvas_tools span{width: 80px;
        display: inline-block;
        height: 35px;background: #f8f8f8;
        margin-right: 15px;
        line-height: 35px;
        text-align: center;}
    .wwy_canvas_img{width: 100%;
        background: #E8EFF7;margin-top: 20px;
        height: 100%;
        display: block;
        margin: 0;}
    .wwy_canvas_img div{background: #fff;
        display: inline-block;
        width: 90%;
        height: 350px;
        margin: 5%;}
</style>

</div>


</div>
</div>
</div>
<div class="bui-grid-footer">
    <div class="row" style="display:block;">
        <div class="form-actions span13 offset3">
            <button id="submit" type="button" class="button button-primary">保存</button>
            <button id="btn-back" type="button" class="button btn-back">返回</button>
        </div>
    </div>
</div>
</form>